{% extends 'layout/layout_home.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}

	{% if validlink %}

		<h1>{% trans 'Enter new password' %}</h1>

		<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

		<form action="" method="post">{% csrf_token %}
			<div class="hidden">
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
			</div>

			<table class="form_table">
				{% for field in form.visible_fields %}
					<tr>
						<td>{{ field.label_tag }}</td>
						<td>{{ field }}</td>
						<td>{{ field.help_text }}</td>
					</tr>
					{% if field.errors %}
						<tr>
							<td colspan="3">{{ field.errors }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
			<input class="button button_success" type="submit" value="{% trans 'Reset my password' %}">
		</form>

	{% else %}

		<h1>{% trans 'Password reset unsuccessful' %}</h1>

		<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

		<p><a href="{% url 'password_reset' %}">Reset password</a></p>

	{% endif %}

{% endblock %}
