{% extends 'layout/layout_user.html' %}

{% load utility %}

{% block title %}Details &middot; {% include '_partials/division_header.html' with league=league hide_state=1 only %} &middot; {{ block.super }}{% endblock %}
{% block og_title %}Details &middot; {% include '_partials/division_header.html' with league=league hide_state=1 only %} &middot; {{ block.super }}{% endblock %}

{% block content %}

	<h1>{% include '_partials/division_header.html' with league=league only %}</h1>

	{% include '_partials/league_tabs.html' with selected_tab='details' %}

	{{ league.detailed_info|safe }}
{% endblock %}
