{% extends 'layout/layout_user.html' %}

{% load utility %}

{% block title %}Details &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} {{ league.night_title|smart_title }} Division Details{% endblock %}
{% block content %}

  {% include '_partials/division_header.html' with league=league only %}

  {% include '_partials/league_tabs.html' with selected_tab='details' %}

  {{ league.detailed_info|safe }}
{% endblock %}
