{% extends 'layout/layout_user.html' %}

{% load leagues %}
{% load math %}
{% load teams %}
{% load utility %}

{% block title %}Grouping &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} League {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} League {{ league.night_title|smart_title }} Division Grouping{% endblock %}
{% block content %}

  <h1>{% include '_partials/division_header.html' with league=league only %}</h1>

  {% include '_partials/league_tabs.html' with selected_tab='registration' %}

  <h2>Edit Baggage Group</h2>

  <p>This league allows groups of up to {{ league.baggage }} (including you).</p>

  {% if registration.waitlist %}
    <p>You are currently on the wait list and are ineligible to form a group.</p>
  {% else %}

    <h3>Your current group is{% if not registration.baggage.get_registrations %} empty.{% else %}:{% endif %}</h3>

    <ol>
      {% for baggage_reg in registration.baggage.get_registrations %}
      <li>{{ baggage_reg.user.get_full_name }}</li>
      {% endfor %}
    </ol>

    {% if league.baggage > 1 %}
      {% if registration.is_complete and not registration.league.waitlist_start_date|is_past_deadline and not registration.waitlist %}
        {% if registration.baggage_size > 1 %}
          <form class="form" method="post">{% csrf_token %}
            <input class="button button-danger" type="submit" name="leave_group" value="Leave Group">
          </form>
        {% endif %}

        <form class="form" method="post">{% csrf_token %}
          {% if registration.baggage_size < league.baggage %}
            <h3>Add Another Player To Your Group</h3>
            <p>You have room for {{ league.baggage|subtract:registration.baggage_size }} more players in your group. Enter the email of the player you would like to add below.</p>

            <input name="email" type="text">

            <input class="button button-success" name="add_group" value="Add Player" type="submit">
          {% else %}
            <h3>Your group is full for this league.</h3>
          {% endif %}
        </form>
      {% else %}
        <p>Only complete, non-waitlisted registrations are eligible to form baggage groups.</p>
      {% endif %}
    {% else %}
      <p>This league does not support baggage groups.</p>
    {% endif %}
  {% endif %}

{% endblock %}
