{% extends 'layout/layout_user.html' %}

{% load leagues %}
{% load utility %}

{% block title %}{{ first_division.season|smart_title }} League {{ year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ year }} {{ first_division.season|smart_title }} League{% endblock %}

{% block description %}Ann Arbor Ultimate is proud to present {{ first_division.season|smart_title }} League {{ year }}.{% endblock %}
{% block og_description %}Ann Arbor Ultimate is proud to present {{ first_division.season|smart_title }} League {{ year }}.{% endblock %}

{% block content %}
  {% if not season %}
    {% include '_partials/league_list.html' with leagues=leagues link_view='league_summary' only %}
  {% else %}
    <h1>{% include '_partials/league_header.html' with league=first_division only %}

    <h4>
      Ann Arbor Ultimate is proud to present {{ league.season_title|smart_title }} League {{ year }}.
      There {{ leagues|pluralize:'is,are' }} <strong>{{ leagues|length }}</strong> division{{ leagues|pluralize }}.
    </h4>

    <hr>

    {% for league in leagues %}
      <h2>
        {{ league.night_title|smart_title }}
        {% if league.type == 'league' %}Division{% endif %}
        ({{ league.display_gender|smart_title }})

        {% if league.state == 'preview' %}
          <em>({{ league.state|capfirst }})</em>
        {% endif %}
      </h2>

      {% if league.state == 'closed' or league.state == 'preview' or not league.is_after_registration_start %}
        <div class="message message-small">
          Registration is currently closed for this division.
          {% if league.state == 'open' %}
            It will open on {{ league.reg_start_date|date:'l, F jS' }}
            at {{ league.reg_start_date|date:'g:iA'|lower }}.
          {% elif league.state == 'preview' %}
            It is currently in preview mode.
          {% endif %}
        </div>
      {% endif %}

      {% if league.summary_info %}
        {{ league.summary_info|safe }}
      {% endif %}

      {% include '_partials/league_summary.html' with league=league show_links=1 %}

      {% if league|is_open:user %}
        <p>
          {% if league|is_waitlisting_registrations:user %}
            <a class="button button-info" href="{% url 'league_registration' year=league.year season=league.season.slug division=league.night_slug %}">Join Waitlist</a>
          {% else %}
            <a class="button button-success" href="{% url 'league_registration' year=league.year season=league.season.slug division=league.night_slug %}">Register Now</a>
          {% endif %}
        </p>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
