{% extends 'layout/layout_user.html' %}

{% load math %}
{% load leagues %}
{% load user_roles %}
{% load utility %}

{% block title %}Players &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} {{ league.night_title|smart_title }} Division Players{% endblock %}

{% block content %}
<div class="page-division-players">
  {% include '_partials/division_header.html' with league=league only %}

  {% include '_partials/league_tabs.html' with selected_tab='players' %}

  {% if not league.is_after_registration_start and not request.user.is_junta %}
    <div class="message">
      Players are not yet available.
    </div>
  {% else %}
    {% if league|is_accepting_registrations:user %}
      {% if league|is_waitlisting_registrations:user %}
      <div class="message message-caution">
        Registrations for this division are currently being placed on the waitlist.
      </div>
      {% elif num_registrations_remaining == league.max_players %}
      <div class="message message-info">
        There are {{ league.max_players }} spaces available. Be the first!
      </div>
      {% else %}
      <div class="message message-info">
        There are {{ num_registrations_remaining }} of {{ league.max_players }} spaces available.
      </div>
      {% endif %}
    {% else %}
      <div class="message message-info">
        Registration for this division is currently closed.
      </div>
    {% endif %}

    {% if user_registration.is_complete and league.baggage > 1 %}
    <div class="message">
      {% include '_partials/group_formation.html' with league=league registration=user_registration only %}
    </div>
    {% endif %}

    {% if waitlist_registrations|length %}
      <h3>Waitlist</h3>

      <ol>
        {% for registration in waitlist_registrations %}
          <li>
            {{ registration.user.get_full_name }}
            <em>{{ registration.user.profile.nickname }}</em>
          </li>

        {% endfor %}
      </ol>
    {% endif %}

    <div class="page-division-players-players">
      <ul class="page-division-players-players-list">
        {% for registration in complete_registrations %}
        <li class="page-division-players-players-list-item">
          {{ registration.user.get_full_name }}
          <em>{{ registration.user.profile.nickname }}</em>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="message">
      <p>
        Name not on the list?
      </p>
      <a class="button button-small" href="mailto:registration@annarborultimate.org">Email us at registration@annarborultimate.org</a>
    </div>

    {% if request.user.is_junta %}
    <div class="page-division-players-notes">
      <h4 class="page-division-players-notes-title">
        Admin Only
      </h4>

      <div class="page-division-players-notes-content">
        {% if unassigned_registrations|length %}
          <h3>Unassigned Registrations ({{ unassigned_registrations|length }})</h3>
          <table class="table table-condensed table-fixed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Registered</th>
              </tr>
            </thead>
            <tbody>
              {% for registration in unassigned_registrations|dictsort:'progress' %}
                <tr>
                  <td>{{ registration.user.get_full_name }}&nbsp;<em>({{ registration.user.profile.gender }})</em></td>
                  <td>{{ registration.status }}</td>
                  <td>{{ registration.registered|date:'Y/m/d h:iA' }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% if incomplete_registrations|length %}
          <h3>Incomplete Registrations ({{ incomplete_registrations|length }})</h3>
          <table class="table table-condensed table-fixed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              {% for registration in incomplete_registrations|dictsort:'progress'|dictsort:'updated' %}
                <tr>
                  <td>{{ registration.user.get_full_name }}&nbsp;<em>({{ registration.user.profile.gender }})</em></td>
                  <td>{{ registration.status }}</td>
                  <td>{{ registration.updated|date:'Y/m/d h:iA' }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% if refunded_registrations|length %}
          <h3>Refunded Registrations ({{ refunded_registrations|length }})</h3>
          <table class="table table-condensed table-fixed">
            <tbody>
              {% for registration in refunded_registrations|dictsort:'updated' %}
                <tr>
                  <td>{{ registration.user.get_full_name }}&nbsp;<em>({{ registration.user.profile.gender }})</em></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        <dl>
          <dt>Complete Registrations:</dt>
          <dd>{{ complete_registrations|length }}</dd>
          <dt>Man-Matching Registrations:</dt>
          <dd>{{ num_registrations_male }}</dd>
          <dt>Woman-Matching Registrations:</dt>
          <dd>{{ num_registrations_female }}</dd>
          <dt>Minor Registrations:</dt>
          <dd>{{ num_registrations_minor }}</dd>
        </dl>
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
