{% extends 'layout/layout_user.html' %}

{% load math %}
{% load leagues %}
{% load user_roles %}
{% load utility %}

{% block title %}Players &middot; {% include '_partials/division_header.html' with league=league hide_state=1 only %} &middot; {{ block.super }}{% endblock %}
{% block og_title %}Players &middot; {% include '_partials/division_header.html' with league=league hide_state=1 only %} &middot; {{ block.super }}{% endblock %}

{% block content %}
<div class="page-division-players">
  <h1>{% include '_partials/division_header.html' with league=league only %}</h1>

  {% include '_partials/league_tabs.html' with selected_tab='players' %}

  {% if not league.is_after_registration_start and not request.user|in_group:'junta' %}
    <div class="message">
      Players are not yet available.
    </div>
  {% else %}
    {% if user_registration.is_complete and user_registration.league.baggage > 1 and not user_registration.waitlist and not league.is_after_waitlist_start %}
      <p>To add someone to your group, you need to know their email address.</p>
      <p>You may <a href="{% url 'league_group' year=league.year season=league.season|slugify division=league.night|slugify %}">form a baggage group here</a>.</p>
    {% endif %}

    {% if league.is_after_waitlist_start %}
      <div class="message message-warning">
        The registration deadline has passed. All new registrations will be added to the waitlist.
      </div>
    {% elif registrations_remaining <= 0 %}
      <div class="message message-warning">
        This division is currently at capacity. All new registrations will be added to the waitlist.
      </div>
    {% elif registrations_remaining == league.max_players %}
      <div class="message message-info">
        There are {{ league.max_players }} spaces available. Be the first!
      </div>
    {% else %}
      <h4>
        There are {{ registrations_remaining }} of {{ league.max_players }} spaces available.
      </h4>
    {% endif %}

    {% if waitlist_registrations|length %}
      <h3>Waitlist</h3>

      <ol>
        {% for registration in waitlist_registrations %}
          <li>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.profile.nickname }}</em></li>
        {% endfor %}
      </ol>
    {% endif %}

    <table class="table table-fixed table-striped">
      <tbody>
      {% regroup complete_registrations|dictsort:'baggage.id' by baggage as baggage_group %}
      {% for baggage in baggage_group|groups_sort %}
        {% if not forloop.counter|divisibleby:'2' %}
          <tr>
        {% endif %}

        <td class="col-span-6">
          {% for registration in baggage.list %}
            <div>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.profile.nickname }}</em></div>
          {% endfor %}
        </td>

        {% if forloop.counter|divisibleby:'2' %}
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

    <div class="message message-small">
      <h4>Name not on the list?</h4>
      <ul class="no-spacing-list">
        <li>Did you pay by check? If so, maybe we don't have your check yet.</li>
        <li>Anything else? <a href="mailto:registration@annarborultimate.org">Email us at registration@annarborultimate.org.</a></li>
      </ul>
    </div>

    {% if request.user|in_group:'junta' %}
    <div class="page-division-players-notes">
      <h4 class="page-division-players-notes-title">
        Admin Only
      </h4>

      <div class="page-division-players-notes-content">
        {% if unassigned_registrations|length %}
        <h3>Unassigned Registrations ({{ unassigned_registrations|length }})</h3>
        <table class="table table-condensed table-fixed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody>
            {% for registration in unassigned_registrations|dictsort:'progress'|dictsort:'registered' %}
              <tr>
                <td>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.profile.nickname }}</em></td>
                <td>{{ registration.status }}</td>
                <td>{{ registration.registered|date:'Y/m/d h:iA' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        {% if incomplete_registrations|length %}
        <h3>Incomplete Registrations ({{ incomplete_registrations|length }})</h3>
        <table class="table table-condensed table-fixed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody>
            {% for registration in incomplete_registrations|dictsort:'progress'|dictsort:'updated' %}
              <tr>
                <td>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.profile.nickname }}</em></td>
                <td>{{ registration.status }}</td>
                <td>{{ registration.updated|date:'Y/m/d h:iA' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        {% if refunded_registrations|length %}
        <h3>Refunded Registrations ({{ refunded_registrations|length }})</h3>
        <table class="table table-condensed table-fixed">
          <tbody>
            {% for registration in refunded_registrations|dictsort:'updated' %}
              <tr>
                <td>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.profile.nickname }}</em></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <dl>
        <dt>Complete Registrations:</dt>
        <dd>{{ complete_registrations|length }}</dd>
        <dt>Female Registrations:</dt>
        <dd>{{ registrations_female }}</dd>
        <dt>Male Registrations:</dt>
        <dd>{{ registrations_male }}</dd>
        <dt>Minor Registrations:</dt>
        <dd>{{ registrations_minor }}</dd>
      </dl>
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
