{% extends 'layout/layout_user.html' %}

{% load leagues %}
{% load utility %}

{% block title %}Summary &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} League {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} League {{ league.night_title|smart_title }} Division{% endblock %}

{% block description %}
  {% if league.tagline %}
    {{ league.tagline }}
  {% else %}
    Ann Arbor Ultimate is proud to present {{ league.season_title|smart_title }} League {{ league.year }}.
  {% endif %}
{% endblock %}

{% block og_description %}
  {% if league.tagline %}
    {{ league.tagline }}
  {% else %}
    Ann Arbor Ultimate is proud to present {{ league.season_title|smart_title }} League {{ league.year }}.
  {% endif %}
{% endblock %}

{% block content %}

  <h1>{% include '_partials/division_header.html' with league=league only %}</h1>

  {% include '_partials/league_tabs.html' with selected_tab='summary' %}

  {% if league.state == 'closed' or league.state == 'preview' or not league.is_after_registration_start %}
    <div class="message message-small message-info">
      Registration is currently closed for this division.
      {% if league.state == 'open' %}
        It will open on {{ league.reg_start_date|date:'l, F jS' }}
        at {{ league.reg_start_date|date:'g:iA'|lower }}.
      {% elif league.state == 'preview' %}
        It is currently in preview mode.
      {% endif %}
    </div>
  {% endif %}

  {% if league.summary_info %}
    {{ league.summary_info|safe }}
  {% endif %}

  {% include '_partials/league_summary.html' with league=league show_links=0 %}

  {% if league|is_open:user %}
    <p>
      {% if league|is_waitlist:user %}
        <a class="button button-info" href="{% url 'league_registration' year=league.year season=league.season.slug division=league.night_slug %}">Join Waitlist</a>
      {% else %}
        <a class="button button-success" href="{% url 'league_registration' year=league.year season=league.season.slug division=league.night_slug %}">Register Now</a>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
