{% extends 'layout/layout_user.html' %}

{% load staticfiles %}
{% load teams %}
{% load user_roles %}
{% load utility %}

{% block title %}{% include '_partials/division_header.html' with league=league header='Teams and Schedules' hide_state=1 only %}| {{ block.super }}{% endblock %}
{% block og_title %}{% include '_partials/division_header.html' with league=league header='Teams and Schedules' hide_state=1 only %}| {{ block.super }}{% endblock %}

{% block content %}
<div class="page-division-teams">

  <h1>{% include '_partials/division_header.html' with league=league only %}</h1>

  {% include '_partials/league_tabs.html' with selected_tab='teams' %}

  <div class="page-division-teams-schedule">
    {% if game_dates|length %}
    {% include '_partials/schedule_table.html' with league=league columns=columns game_dates=game_dates user_games=user_games next_game_date=next_game_date only %}

    {% if league.schedule_note %}
    <p class="page-division-teams-schedule-notes">
      {{ league.schedule_note }}
    </p>
    {% endif %}
    {% else %}
    <h4>
      Schedules are not yet available
    </h4>
    {% endif %}
  </div>

  <div class="page-division-teams-teams">
    <div class="page-division-teams-teams-row">
      {% for team in teams %}
      <div class="page-division-teams-teams-row-team" id="team-roster-{{ team.id }}">
        {% include '_partials/team_card.html' with team=team user=request.user only %}
      </div>

      {% if forloop.counter|divisibleby:2 %}
      </div><div class="page-division-teams-teams-row">
      {% endif %}
      {% empty %}
      <h4>
        Teams are not yet available
      </h4>
      {% endfor %}
    </div>
  </div>


  {% if teams and request.user.is_superuser or request.user|in_group:'junta' %}
    <div class="page-division-teams-notes">
      <h4 class="page-division-teams-notes-title">
        Admin Only
      </h4>

      <div class="page-division-teams-notes-content">
        <dl>
          <dt>Division Email Address:</dt>
          <dd>
            {% if league.division_email %}
              <a href="mailto:{{ league.division_email }}">
                {{ league.division_email }}
              </a>
            {% else %}
              None
            {% endif %}
          </dd>
          <dt>Division Captains Email Address:</dt>
          <dd>
            {% if league.division_captains_email %}
              <a href="mailto:{{ league.division_captains_email }}">
                {{ league.division_captains_email }}
              </a>
            {% else %}
              None
            {% endif %}
          </dd>
        </dl>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
