{% extends 'layout/layout_user.html' %}

{% load staticfiles %}
{% load teams %}
{% load user_roles %}
{% load utility %}

{% block title %}Teams and Schedules &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} {{ league.night_title|smart_title }} Division Teams and Schedules{% endblock %}

{% block content %}
<div class="page-division-teams">

  <h1>{% include '_partials/division_header.html' with league=league only %}</h1>

  {% include '_partials/league_tabs.html' with selected_tab='teams' %}

  {% if not teams and not game_locations %}
    <div class="message">
      Teams and schedules are not yet available.
    </div>
  {% endif %}

  <div class="page-division-teams-schedule">
    {% if game_locations %}
      {% if league.type == 'tournament' %}
        {% include '_partials/table_schedule_event.html' with league=league event_locations=event_locations event_dates=event_dates user_games=user_games next_game_date=next_game_date only %}
      {% else %}
        {% include '_partials/table_schedule_league.html' with league=league game_locations=game_locations game_dates=game_dates game_starts=game_starts event_schedule=event_schedule user_games=user_games next_game_date=next_game_date only %}
      {% endif %}

      {% if league.schedule_note %}
        <div class="message message-info">
          <h4>Scheduling Note</h4>
          {{ league.schedule_note }}
        </div>
      {% endif %}
    {% endif %}
  </div>

  {% if game_locations and not teams %}
    <div class="message">
      Teams are not yet available.
    </div>
  {% endif %}

  <div class="page-division-teams-teams">
    {% if teams %}
      {% for team in teams %}
        <div class="page-division-teams-teams-team" id="team-roster-{{ team.id }}">
          {% include '_partials/team_card.html' with team=team user=request.user only %}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  {% if teams and request.user.is_superuser or request.user|in_group:'junta' %}
    <div class="page-division-teams-notes">
      <h4 class="page-division-teams-notes-title">
        Admin Only
      </h4>

      <div class="page-division-teams-notes-content">
        <dl>
          <dt>Division Email Address:</dt>
          <dd>
            {% if league.division_email %}
              <a href="mailto:{{ league.division_email }}">
                {{ league.division_email }}
              </a>
            {% else %}
              None
            {% endif %}
          </dd>
          <dt>Division Captains Email Address:</dt>
          <dd>
            {% if league.division_captains_email %}
              <a href="mailto:{{ league.division_captains_email }}">
                {{ league.division_captains_email }}
              </a>
            {% else %}
              None
            {% endif %}
          </dd>
        </dl>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
