{% extends "layout/layout_user.html" %}
{% load teams %}

{% block content %}
	{% include "layout/account_tabs.html" with selected_tab="captain" %}

	<ul id="breadcrumbs">
		<li><a href="{% url user %}">My Account</a></li>&raquo;
		<li><a href="{% url captain %}">Captain Resources</a></li>&raquo;
		<li><a href="{% url captaineditteam teamid=team.id %}">Edit Team Information</a></li>
	</ul>

	<h1>Update Your Team Information</h1>

	<form method="post" action="{% url captaineditteam teamid=team.id %}">{% csrf_token %}
		<div class="hidden">
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
		</div>

		<table class="form_table">
			{% for field in form.visible_fields %}
				<tr>
					<td>{{ field.label_tag }}</td>
					<td>{{ field }}</td>
				</tr>
				{% if field.errors %}
					<tr>
						<td colspan="2">{{ field.errors }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>

		<input class="button button_success" type="submit" value="Update" />
		<a class="form_cancel" href="{% url captaineditteam teamid=team.id %}">cancel</a>
	</form>
{% endblock %}