{% extends "layout/layout_user.html" %}
{% load teams %}
{% load utility %}

{% block content %}
	{% include "layout/account_tabs.html" with selected_tab="captain" %}

	<ul class="breadcrumbs">
		<li><a href="{% url captain %}">Captain Resources</a></li>
		<li class="active">{{ team.league|smart_title }}</li>
		<li class="active">Game Report</a>
	</ul>

	<h1>Game Report for {{ game.date|date:"l, F jS" }}</h1>

	<form id="game_report_form" method="post">{% csrf_token %}
		{{ score_formset.management_form }}

		<table class="teams_table table-fixed">
			<tr>
				<td class="team_container">
					<div class="team">
						<div class="team_info" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
							<div class="team_name" style="font-size: {{ team.name|get_team_name_font_size }}px;">
								{{ team.name }}
							</div>

							<div>Team {{ team.id }}{% if team.color %} - {{ team.color }}{% endif %}</div>
						</div>

						<div class="team_members">
							{{ score_us_form.id }}
							{{ score_us_form.team }}
							{% if score_us_form.score.errors %}
								<p class="text_error">
								{% for error in score_us_form.score.errors %}
									{{ error }}<br />
								{% endfor %}
								</p>
							{% endif %}
							<div class="score_input">
								{{ score_us_form.score }} points
							</div>
						</div>
					</div>
				</td>

				<td class="divider text_center">
					<h1>vs</h1>
				</td>

				{% with team=game|get_game_opponent_team:user %}
					<td class="team_container">
						<div class="team">
							<div class="team_info" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
								<div class="team_name" style="font-size: {{ team.name|get_team_name_font_size }}px;">
									{{ team.name }}
								</div>

								<div>
									<div>Team {{ team.id }} - {{ team.color }}</div>
								</div>
							</div>

							<div class="team_members">
								{{ score_them_form.id }}
								{{ score_them_form.team }}
								{% if score_them_form.score.errors %}
									<p class="text_error">
									{% for error in score_them_form.score.errors %}
										{{ error }}<br />
									{% endfor %}
									</p>
								{% endif %}
								<div class="score_input">
									{{ score_them_form.score }} points
								</div>
							</div>
						</div>
					</td>
				{% endwith %}
			</tr>
		</table>

		<div class="control_group">
			<h2>How would you rate the spirit of the game?</h2>
			{% if comment_form.spirit.errors %}
				<p class="text_error">
				{% for error in comment_form.spirit.errors %}
					{{ error }}<br />
				{% endfor %}
				</p>
			{% endif %}
			{{ comment_form.spirit }}
		</div>

		<div class="control_group">
			<h2>Who was there for your team?</h2>
			<table class="form_table">
				{% for team_member in team.get_members|dictsort:"user.last_name" %}
					{% if not forloop.counter|divisibleby:'2' %}
						<tr>
					{% endif %}

					<td>
						<input type="checkbox" id="user_{{ team_member.user.id }}" name="user_{{ team_member.user.id }}" {% if team_member.user.id in attendance %}checked{% endif %} />
						<label for="user_{{ team_member.user.id }}">
							{{ team_member.user.get_full_name }}
							<em>{{ team_member.user.get_profile.nickname }}</em>
						</label>
					</td>

					{% if forloop.counter|divisibleby:'2' %}
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>

		<div id="game_report_comment" class="control_group">
			<h2 title="This will remain private and will not be shared with your co-captain">
				Anything else? <a class="small" href="{% url comments %}" target="_blank">(help)</a>
			</h2>
			{{ comment_form.comment.errors }}
			{{ comment_form.comment }}
		</div>

		<div class="control_group">
			<input class="button button_success" type="submit" value="Submit Report">
		</div>
	</form>

{% endblock %}