{% extends "layout/layout_user.html" %}
{% load leagues %}
{% load games %}
{% load teams %}

{% block content %}
	{% include "layout/account_tabs.html" with selected_tab="captain" %}

	<h1>Captain Resources</h1>

	<div id="captain_divisions">
		{% for game in captain_games %}
			{% ifchanged game.league %}
				{% if not forloop.first %}
						</ul>
					</div>
				{% endif %}

				<h3><a class="captain_division_header" href="#">{{ game|get_game_user_teamname:user }} - {{ game.league|title }}</a></h3>
				<div class="captain_division_content">
					<ul class="captain_division_team_links">
						<li><a href="{% url captaineditteam teamid=game|get_game_user_teamid:user %}">Change Team Name or Color</a></li>
						<li>
							<a href="{% url playersurvey teamid=game|get_game_user_teamid:user %}">
								{% if game.league|get_player_survey_status:user %}
									<span class="status state_success"></span>
								{% else %}
									<span class="status state_error"></span>
								{% endif %}
								Fill Out Player Survey
							</a>
						</li>
					</ul>

					<h4>Game Reports</h4>
					<ul>
			{% endifchanged %}


			<li class="captain_division_game">
				{% if game|report_complete_for_team:user %}
					<span class="status state_success"></span>
				{% else %}
					<span class="status state_error"></span>
				{% endif %}
				<a class="accordion_link" href="{% url gamereport teamid=game|get_game_user_teamid:user gameid=game.id %}">On {{ game.date|date:"m/d" }} vs. {{ game|get_game_opponent:user}}</a>
			</li>

			{% if forloop.last %}
					</ul>
				</div>
			{% endif %}

		{% endfor %}
	</div>
{% endblock %}
