{% extends "layout/layout_user.html" %}

{% load leagues %}
{% load utility %}

{% block content %}
	{% if not season %}
		{% include "_partials/league_list.html" with leagues=leagues link_view="league_summary" only %}
	{% else %}
		{% with league=leagues|first %}
			<h1>
				{{ league.season_title|smart_title }} League {{ year }}
			</h1>

			<p>
				Ann Arbor Ultimate is very excited to present {{ league.season_title|smart_title }} League {{ year }}.
				There {{ leagues|pluralize:'is,are' }} <strong>{{ leagues|length }}</strong> division{{ leagues|pluralize }}.
			</p>
		{% endwith %}

		{% for league in leagues %}
			<h2>
				{{ league.night_title|smart_title }} Division ({{ league.gender_title|smart_title }})
				{% if league.state == 'preview' %}
					<em>({{ league.state|capfirst }})</em>
				{% endif %}
			</h2>
			{% if league.gender_note %}
				{{ league.gender_note|safe }}
			{% endif %}

			<table class="table table-striped-header">
				<tr>
					<td><a href="{% url league_details year=league.year season=league.season division=league.night %}">Detailed Info</a></td>
					<td><a href="{% url league_players year=league.year season=league.season division=league.night %}">Players</a></td>
					<td><a href="{% url league_teams year=league.year season=league.season division=league.night %}">Teams & Schedules</a></td>
				</tr>
				<tr>
					<th colspan="2">
						Dates
					</th>
					<th>
						Times
					</th>
				</tr>
				<tr>
					<td colspan="2">
						{{ league.league_start_date|date:'F d, Y' }} through {{ league.league_end_date|date:'F d, Y' }}
					</td>
					<td>
						{{ league.times }}
					</td>
				</tr>
				<tr>
					<th colspan="3">
						Location
					</th>
				</tr>
				{% for field in league.get_fields %}
					<tr>
						<td colspan="3">
							{{ field.field.name }}

							{% if field.field.driving_link %}
								<small>
									&middot;
									<a href="{{ field.field.driving_link }}" target="_blank">
										Directions
									</a>
								</small>
							{% endif %}

							{% if field.field.layout_link %}
								<small>
									&middot;
									<a href="{{ MEDIA_URL }}{{ field.field.layout_link }}" target="_blank">
										Layout
									</a>
								</small>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				<tr>
					<th colspan="2">
						Cost
					</th>
					<th>
						Maximum Group Size
					</th>
				</tr>
				<tr>
					<td>
						PayPal ${{ league.paypal_price|floatformat:2 }}
					</td>
					<td>
						Check ${{ league.check_price|floatformat:2 }}
					</td>
					<td>
						{{ league.baggage }}
					</td>
				</tr>
				<tr>
					<th colspan="3">
						Important Dates
					</th>
				</tr>
				<tr>
					<td>
						Signup Cutoff/Deadline
					</td>
					<td colspan="2">
						{{ league.max_players }} Players or {{ league.waitlist_start_date|date:'F d, Y' }}
					</td>
				</tr>
				<tr>
					<td>
						Group Change Deadline
					</td>
					<td colspan="2">
						{{ league.waitlist_start_date|date:'F d, Y' }}
					</td>
				</tr>

				{% if league|is_open:user %}
					<tr>
						<td colspan="3">
							{% if league|is_waitlist:user %}
								<a href="{% url league_registration year=league.year season=league.season division=league.night %}">Register for the Waitlist</a>
							{% else %}
								<a href="{% url league_registration year=league.year season=league.season division=league.night %}">Register Now!</a>
							{% endif %}
						</td>
					</tr>
				{% endif %}
			</table>
		{% endfor %}
	{% endif %}
{% endblock %}