{% extends "layout/layout_user.html" %}

{% load leagues %}
{% load utility %}

{% block content %}
	<h1>
		{{ league.season|title }} League {{ league.year }} {{ league.night|title }} Division ({{ league.gender|title }})
		{% if league.state != 'active' %}<em>({{ league.state|capfirst }})</em>{% endif %}
	</h1>

	{% include "layout/league_tabs.html" with selected_tab="players" %}

	{% if user_registration.is_complete and user_registration.league.baggage > 1 and not user_registration.waitlist and not user_registration.league.freeze_group_date|is_past_deadline %}
		<p>To add someone to your group, you need to know their email address.</p>
		<p>You may <a href="{% url league_group year=league.year season=league.season division=league.night %}">form a baggage group here</a>.</p>
	{% endif %}

	<h3>Name not on the list?</h3>
	<ol>
		<li>Did you pay by check? If so, maybe we don't have your check yet.</li>
		{% ifequal league.gender '50/50' %}
		    <li>You're probably waiting for gender balance or for Dave to get around to adding people today.</li>
		{% endifequal %}
		<li>Anything else? Email <span class="email">registration.at.annarborultimate.org</span></li>
	</ol>

	{% if waitlist_registrations|length %}
		<h2>Waitlist</h2>

		<ol>
			{% for registration in waitlist_registrations %}
				<li>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.get_profile.nickname }}</em></li>
			{% endfor %}
		</ol>
	{% endif %}

	<div id="league_players">
		<h3>Currently {{ complete_registrations|length }} out of a maximum {{ league.max_players }} players registered</h3>

		<table class="table table-striped">
			<tbody>
			{% regroup complete_registrations|dictsort:"baggage.id" by baggage as baggage_group %}
			{% for baggage in baggage_group|groups_sort %}
				{% if not forloop.counter|divisibleby:'2' %}
					<tr>
				{% endif %}

				<td class="col-span-6">
					{% for registration in baggage.list %}
						<div>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.get_profile.nickname }}</em></div>
					{% endfor %}
				</td>

				{% if forloop.counter|divisibleby:'2' %}
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>

	{% if perms.junta %}
		{% if incomplete_registrations|length %}
			<hr />
			<h2>Incomplete Registrations</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Last Updated</th>
					</tr>
				</thead>
				<tbody>
					{% for registration in incomplete_registrations|dictsort:"get_progress" %}
						<tr>
							<td>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.get_profile.nickname }}</em></td>
							<td>{{ registration.get_status }}</td>
							<td>{{ registration.updated|date:"Y/m/d h:iA" }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		{% if refunded_registrations|length %}
			<hr />
			<h2>Refunded Registrations</h2>
			<table class="table table-striped">
				<tbody>
					{% for registration in refunded_registrations|dictsort:"updated" %}
						<tr>
							<td>{{ registration.user.first_name }} {{ registration.user.last_name }} <em>{{ registration.user.get_profile.nickname }}</em></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	{% endif %}
{% endblock %}

