{% extends "layout/layout_user.html" %}

{% block content %}
	<h1>
		{{ league.season|capfirst }} League {{ league.year }}
	</h1>

	<h2 class="division_title">{{ league.night|capfirst }} Division ({{ league.gender|capfirst }})</h2>
	{% if league.gender_note %}
		{{ league.gender_note|safe }}
	{% endif %}

	<table class="league_info_table">
		<tr class="gray">
			<th colspan="2">
				Dates
			</th>
			<th>
				Times
			</th>
		</tr>
		<tr>
			<td colspan="2">
				{{ league.league_start_date|date:'F d, Y' }} through {{ league.league_end_date|date:'F d, Y' }}
			</td>
			<td>
				{{ league.times }}
			</td>
		</tr>
		<tr class="gray">
			<th colspan="3">
				Location
			</th>
		</tr>
		{% for field in league.get_fields %}
			<tr>
				<td colspan="3">{{ field.field.name }}</td>
			</tr>
		{% endfor %}
		<tr class="gray">
			<th colspan="2">
				Cost
			</th>
			<th>
				Group Size
			</th>
		</tr>
		<tr>
			<td>
				PayPal ${{ league.paypal_cost|floatformat:2 }}
			</td>
			<td>
				Check ${{ league.check_cost|floatformat:2 }}
			</td>
			<td>
				{{ league.baggage }}
			</td>
		</tr>
		<tr class="gray">
			<th colspan="3">
				Important Dates
			</th>
		</tr>
		<tr>
			<td>
				Signup Cutoff/Deadline
			</td>
			<td>
				{{ league.max_players }} Players or {{ league.waitlist_start_date|date:'F d, Y' }}
			</td>
		</tr>
		<tr>
			<td>
				Group Change Deadline
			</td>
			<td>
				{{ league.freeze_group_date|date:'F d, Y' }}
			</td>
		</tr>
	</table>
{% endblock %}