{% extends "layout/layout_user.html" %}
{% load teams %}
{% load utility %}
{% load user_roles %}

{% block content %}
	<h1>
		{{ league.season|title }} League {{ league.year }} {{ league.night|title }} Division ({{ league.gender|title }})
		{% if league.state != 'active' %}<em>({{ league.state|capfirst }})</em>{% endif %}
	</h1>

	{% include "layout/league_tabs.html" with selected_tab="teams" %}

	{% if league.get_games|length %}
		<table id="schedule_table" class="table table-striped">
			<thead>
				<tr>
					<td></td>
					{% regroup field_names by field as fields %}
					{% for field in fields %}
						<th class="text_center" colspan="{{ field.list|length }}">
							<div>{{ field.grouper }}</div>
							<div><a href="{{ MEDIA_URL }}{{ field.grouper.layout_link }}">Field Layout</a></div>
						</th>
					{% endfor %}
				</tr>

				<tr>
					<td></td>
					{% for field_name in field_names %}
						<th class="text_center">{{ field_name.name }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% regroup league.get_games|dictsort:"field_name.field"|dictsort:"field_name.name"|dictsort:"date" by date as games_list %}
				{% for date in games_list %}
					<tr class="{% if date.grouper|time_until_days < 7 and date.grouper|time_until_days >= 0 %}active{% endif %}">
						<th class="text_right">
							<div>{{ date.grouper|date:"M" }}</div>
							<div>{{ date.grouper|date:"jS" }}</div>
						</th>

						{% for field_name in field_names %}
							<td class="text_center">
								{% for game in date.list|slice:":forloop.counter" %}
									{% ifequal game.field_name field_name %}
										{% if game in user_games %}
											{% for team in game.get_teams %}
												<a href="#team_roster_{{ team.id }}" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
													{{ team.id }}
												</a>
											{% endfor %}
										{% else %}
											{% for team in game.get_teams %}
												<div>{{ team.id }}</div>
											{% empty %}
												TBA
											{% endfor %}
										{% endif %}
									{% endifequal %}
								{% empty %}
									-
								{% endfor %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="text_center">The schedule for this league has not yet been completed.</div>
	{% endif %}

	{% if teams %}
		<table class="teams_table">
			{% for team in teams %}
				{% if forloop.counter0|divisibleby:"2" %}
					<tr>
				{% endif %}

				<td id="team_roster_{{ team.id }}">
					<div class="team">
						<div class="team_info" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
							<div class="team_name" style="font-size: {{ team.name|get_team_name_font_size }}px;">
								{{ team.name }}
							</div>

							<div>
								<div class="pull_right">{{ team.color }}</div>
								{% if user.is_authenticated and team.email %}
									<div><a style="color: {{ team.css_text_color }}" href="mailto:{{ team.email }}" title="Email team list">Team {{ team.id }} (email)</a></div>
								{% else %}
									<div>Team {{ team.id }}</div>
								{% endif %}
							</div>
						</div>

						<div class="team_members">
							{% for team_member in team.get_members %}
								<div class="team_member">
									{% if team_member.captain %}
										{% if user.is_authenticated %}
											<a href="mailto:{{ team_member.user.email }}">
										{% endif %}

										<span class="strong">
									{% endif %}

									{{ team_member.user.get_full_name }}

									{% if team_member.captain %}
										</span>
									{% endif %}

									<em>{{ team_member.user.get_profile.nickname }}</em>

									{% if team_member.captain %}
										</a>
									{% endif %}
								</div>
							{% endfor %}
						</div>

						{% if request.user|in_group:"junta" %}
							<div class="team_counts text_center">
								<em>
									{{ team.get_members|length }} Player{{ team.get_members|length|pluralize }},
									{{ team.get_male_members|length }} Male{{ team.get_male_members|length|pluralize }},
									{{ team.get_female_members|length }} Female{{ team.get_female_members|length|pluralize }}
								</em>
							</div>
						{% endif %}
					</div>
				</td>

				{% if not forloop.counter0|divisibleby:"2" %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	{% else %}
		<div class="text_center">Teams for this league have not yet been formed.</div>
	{% endif %}
{% endblock %}