{% extends "layout/layout_user.html" %}

{% load teams %}
{% load user_roles %}
{% load utility %}

{% block content %}

	{% include "layout/league_header.html" with league=league only %}

	{% include "layout/league_tabs.html" with selected_tab="teams" %}

	{% if games|length %}
		<table id="schedule_table" class="table table-fixed table-striped">
			<thead>
				<tr>
					<td></td>
					{% regroup field_names by field as fields %}
					{% for field in fields %}
						<th class="text_center" colspan="{{ field.list|length }}">
							<h4>
								{{ field.grouper }}

								{% if field.grouper.driving_link %}
									<small>
										&middot;
										<a href="{{ field.grouper.driving_link }}" target="_blank">
											Directions
										</a>
									</small>
								{% endif %}

								{% if field.grouper.layout_link %}
									<small>
										&middot;
										<a href="{{ STATIC_URL }}{{ field.grouper.layout_link }}" target="_blank">
											Layout
										</a>
									</small>
								{% endif %}
							</h4>
						</th>
					{% endfor %}
				</tr>

				<tr>
					<td></td>
					{% for field_name in field_names %}
						<th class="text_center">{{ field_name.name }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% regroup games|dictsort:"field_name.field"|dictsort:"field_name.name"|dictsort:"date" by date as games_list %}
				{% for date in games_list %}
					<tr class="{% if date.grouper == next_game_date %}active{% endif %}">
						<th class="text_right">
							<div>{{ date.grouper|date:"M" }}</div>
							<div>{{ date.grouper|date:"jS" }}</div>
						</th>

						{% for field_name in field_names %}
							<td class="text_center">
								{% for game in date.list|slice:":forloop.counter" %}
									{% ifequal game.field_name field_name %}
										{% if game in user_games %}
											{% for team in game.get_teams %}
												<a href="#team_roster_{{ team.id }}" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
													{{ team.id }}
												</a>
											{% empty %}
												TBA
											{% endfor %}
										{% else %}
											{% for team in game.get_teams %}
												<div>{{ team.id }}</div>
											{% empty %}
												TBA
											{% endfor %}
										{% endif %}
									{% endifequal %}
								{% empty %}
									-
								{% endfor %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h3 class="none_found text_center">
			Schedules are not yet available
		</h3>
	{% endif %}

	{% if teams %}
		<table class="teams_table table-fixed">
			<tr>
				{% for team in teams %}
					<td id="team_roster_{{ team.id }}">
						<div class="team">
							<div class="team_info" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
								<div class="team_name" style="font-size: {{ team.name|get_team_name_font_size }}px;">
									{% if team.name %}
										{{ team.name }}
									{% else %}
										Team {{ team.id }}
									{% endif %}
								</div>

								<div>
									{% if user.is_authenticated and team.email %}
										<a class="pull_right" style="color: {{ team.css_text_color }}" href="mailto:{{ team.email }}" title="Email Team List">Email</a>
									{% endif %}

									<div>
										{% if team.name %}
											Team {{ team.id }}
											{% if team.color %}
												-
											{% endif %}
										{% endif %}

										{{ team.color }}

										{% if not team.name and not team.color %}
											&nbsp;
										{% endif %}
									</div>
								</div>
							</div>

							<ul class="team_members">
								{% for team_member in team.get_members %}
									<li class="team_member">
										{% if team_member.captain and user.is_authenticated and team_member.user.email %}
											<a class="pull_right" href="mailto:{{ team_member.user.email }}">Email</a>
										{% endif %}

										{% if team_member.captain %}
											<span class="strong">
										{% endif %}

										{{ team_member.user.get_full_name }}

										{% if team_member.captain %}
											</span>
										{% endif %}

										<em>{{ team_member.user.get_profile.nickname }}</em>
									</li>
								{% endfor %}
							</ul>

							{% if request.user|in_group:"junta" %}
								<div class="team_notes text_center">
									{{ team.get_members|length }} Player{{ team.get_members|length|pluralize }},
									{{ team.get_male_members|length }} Male{{ team.get_male_members|length|pluralize }},
									{{ team.get_female_members|length }} Female{{ team.get_female_members|length|pluralize }}
								</div>
							{% endif %}
						</div>
					</td>

					{% if forloop.counter|divisibleby:2 %}
						</tr><tr>
					{% endif %}
				{% endfor %}
			</tr>
		</table>
	{% else %}
		<h3 class="none_found text_center">
			Teams are not yet available
		</h3>
	{% endif %}
{% endblock %}