		</div>
		<div id="footer">
			<div id="footer_bar">
				If you have and questions or concerns about our registration
				system, email <div><strong>registration.at.a2ultimate.org</strong></div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/jquery.min.js"%3E%3C/script%3E'))</script>

		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script>!window.jQuery.ui && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/jquery-ui.min.js"%3E%3C/script%3E'))</script>

		<script src="{{ STATIC_URL }}js/site.js"></script>
	</body>
</html>