{% load utility %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Ann Arbor Ultimate</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui/jquery-ui-1.10.0.custom.min.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css?1" type="text/css" />

	<script src="{{ MEDIA_URL }}js/modernizr-2.6.2.min.js"></script>
</head>

<body>
	<div id="alerts_container">
		{% if messages %}
			<ul>
				{% regroup messages|dictsortreversed:"level" by tags as message_groups %}
				{% for message_group in message_groups %}
					{% for message in message_group.list %}
						<li class="alert state_{{ message_group.grouper }}">
							{{ message }}
						</li>
					{% endfor %}
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	<div id="header_container">
		<div id="header">
			<div id="banner">
				<a href="{% url home %}">
					<img src="{{ MEDIA_URL }}images/banner.png" alt="Ann Arbor Ultimate" width="435" height="41" />
				</a>
			</div>

			<ul class="banner_links">
				{% if user.is_authenticated %}
					<li><a href="{% url user %}">{{ user.username }}</a></li>
					<li><a href="{% url auth_logout %}">Logout?</a></li>
				{% else %}
					<li><a href="{% url auth_login %}">Login</a></li>
					<li><a href="{% url registration_register %}">Signup</a></li>
				{% endif %}
			</ul>
		</div>
	</div>

	<div class="navbar_container">
		<div class="navbar">
			<ul class="nav">
				<li><a href="{% url home %}">Home</a></li>
				<li><a href="{% url user %}">My Account</a></li>
				<li><a href="{% url pybb:index %}" target="_blank">Forum</a></li>
				<li><a href="{% url contact %}">Contacts</a></li>
				{% if user.is_superuser %}
					<li><a href="{% url home %}admin">Admin</a></li>
				{% endif %}
			</ul>

			<ul class="nav pull_right">
				{% if menu_leagues %}
					<li>Leagues</li>
					{% regroup menu_leagues by season_year as season_years %}

					{% for season_year in season_years %}
						{% with league=season_year.list|first %}
							<li>
								<a href="{% url league_index_season year=league.year season=league.season %}">
									{{ season_year.grouper|smart_title }}
								</a>
							</li>
						{% endwith %}
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
