{% load leagues %}
{% load utility %}

{% include "layout/header.html" %}
<div id="content_container">
	<div id="sidebar">
		<div id="logo">
			<img src="{{ MEDIA_URL }}images/logo_small.png" width="200" height="166" />
		</div>
		<div class="text_center">
			<a class="social_icon social_icon_twitter" href="http://twitter.com/aaultimate" target="_blank">Twitter</a>
			<a class="social_icon social_icon_facebook" href="http://www.facebook.com/group.php?gid=14353251178" target="_blank">Facebook</a>
			<a class="social_icon social_icon_flickr" href="http://www.flickr.com/search/?q=annarborultimate" target="_blank">Flickr</a>
		</div>

		{% if menu_leagues %}
			<ul>
				{% regroup menu_leagues by season_year as season_years %}

				{% for season_year in season_years %}
					<li>
						{{ season_year.grouper|smart_title }}
						<ul class="league_list">
							{% for league in season_year.list %}
								<li>
									<div class="league_name">
										{{ league.night|smart_title }}

										{% if league.state == 'preview' %}
											<em>({{ league.state|capfirst }})</em>
										{% endif %}
									</div>
									<ul>
										{% if league|is_open:user %}
											{% if league|is_waitlist:user %}
												<li><a href="{% url league_registration year=league.year season=league.season division=league.night %}">Register for Waitlist</a></li>
											{% else %}
												<li><a href="{% url league_registration year=league.year season=league.season division=league.night %}">Register</a></li>
											{% endif %}
										{% endif %}
										<li><a href="{% url league_summary year=league.year season=league.season division=league.night %}">Summary</a></li>
										<li><a href="{% url league_details year=league.year season=league.season division=league.night %}">Detailed Info</a></li>
										<li><a href="{% url league_players year=league.year season=league.season division=league.night %}">Players</a></li>
										<li><a href="{% url league_teams year=league.year season=league.season division=league.night %}">Teams & Schedules</a></li>
									</ul>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No leagues are available.</p>
		{% endif %}
	</div>

	<div id="content">
		{% if user and user.is_authenticated and not user_profile_is_complete %}
			<div class="message state_warning">
				You are missing profile information required to
				register for a league. Please
				<a href="{% url editprofile %}">complete your profile</a>.
			</div>
		{% endif %}

		{% if user and user.is_authenticated and not user_rating_is_complete %}
			<div class="message state_warning">
				You are missing player ratings required to
				register for a league. Please
				<a href="{% url editratings %}">complete your ratings</a>
			</div>
		{% endif %}

		{% block content %}
		{% endblock %}
	</div>

{% include "layout/footer.html" %}