{% load url from future %}

{% load utility %}

{% include "layout/header.html" %}

<div id="content_container">
	<div id="sidebar">
		<p class="text_center">
			<img src="{{ MEDIA_URL }}images/logo_small.png" width="200" height="166" />
		</p>

		<ul class="social_icons text_center">
			<li><a class="social_icon social_icon_twitter" href="http://twitter.com/aaultimate" target="_blank">Twitter</a></li>
			<li><a class="social_icon social_icon_facebook" href="http://www.facebook.com/group.php?gid=14353251178" target="_blank">Facebook</a></li>
			<li><a class="social_icon social_icon_flickr" href="http://www.flickr.com/search/?q=annarborultimate" target="_blank">Flickr</a></li>
		</ul>

		{% autoescape off %}
			<ul>
				{{ menu_items_home_sidebar|prepare_menu_items|unordered_list }}
			</ul>
		{% endautoescape %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</div>

{% include "layout/footer.html" %}
