{% extends "layout/layout_home.html" %}

{% block content %}
	<h1>Contact Us</h1>
	<ul>
		<li>
			Web Site: <a href="mailto:webmaster@a2ultimate.org" target="_blank">webmaster@a2ultimate.org</a>
			<ul>
				<li>Website issues, errors, or suggestions for improvement</li>
			</ul>
		</li>
		<li>
			Email Lists: <a href="mailto:postmaster@a2ultimate.org" target="_blank">postmaster@a2ultimate.org</a>
			<ul>
				<li>Join or unsubscribe from our email lists</li>
			</ul>
		</li>
		<li>
			General Information: <a href="mailto:info@a2ultimate.org" target="_blank">info@a2ultimate.org</a>
			<ul>
				<li>Information about our leagues or ultimate in the area</li>
			</ul>
		</li>
		<li>
			League Administration: <a href="mailto:admin@a2ultimate.org" target="_blank">admin@a2ultimate.org</a>
			<ul>
				<li>Questions/concerns about how our leagues are run</li>
			</ul>
		</li>
		<li>
			Registration Issues: <a href="mailto:registration@a2ultimate.org" target="_blank">registration@a2ultimate.org</a>
			<ul>
				<li>Problems with league registration, payment issues</li>
			</ul>
		</li>
		<li>
			Spirit Issues: <a href="mailto:spirit@a2ultimate.org" target="_blank">spirit@a2ultimate.org</a>
			<ul>
				<li>General spirit questions or concerns, problematic captains or players</li>
			</ul>
		</li>
		<li>
			Pickup Games: <a href="mailto:annarborpickup@lists.a2ultimate.org" target="_blank">annarborpickup@lists.a2ultimate.org</a>
			<ul>
				<li>Tell us about your pickup game or find one near you</li>
			</ul>
		</li>
	</ul>
{% endblock %}