{% extends 'layout/layout_user.html' %}

{% load teams %}

{% block title %}Edit Team | Captain Resources | {{ block.super }}{% endblock %}

{% block content %}

{% include '_partials/account_tabs.html' with selected_tab='captain' %}

<div class="breadcrumbs">
  <ul class="breadcrumbs-list">
    <li class="breadcrumb">
      <a href="{% url 'captain' %}">
        Captain Resources
      </a>
    </li>
    <li class="breadcrumb">
      <a href="{% url 'captaineditteam' team_id=team.id %}">
        Edit Team Information
      </a>
    </li>
  </ul>
</div>

<h1>Update Your Team Information</h1>

<form method="post" action="{% url 'captaineditteam' team_id=team.id %}">{% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-field form-field-table{% if field.errors %} form-field-error{% endif %}">
      <label class="form-field-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>

      <div class="form-field-input">
        {{ field }}

        {% if field.errors %}
        <div class="form-field-input-errors">
          <ul class="form-field-input-errors-list">
            {% for error in field.errors %}
              <li>{{ error|escape }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="form-field-help">
        {{ field.help_text }}
      </div>
    </div>
  {% endfor %}

  <input class="button button-success" type="submit" value="Update" />
  <a class="button button-link" href="{% url 'captaineditteam' team_id=team.id %}">Cancel</a>
</form>
{% endblock %}
