{% extends "layout/layout_user.html" %}

{% load teams %}

{% block content %}

{% include "layout/account_tabs.html" with selected_tab="captain" %}

<div class="breadcrumbs">
  <ul class="breadcrumbs-list">
    <li class="breadcrumb">
      <a href="{% url 'captain'  %}">
        Captain Resources
      </a>
    </li>
    <li class="breadcrumb">
      <a href="{% url 'captaineditteam' teamid=team.id  %}">
        Edit Team Information
      </a>
    </li>
  </ul>
</div>

<h1>Update Your Team Information</h1>

<form method="post" action="{% url 'captaineditteam' teamid=team.id  %}">{% csrf_token %}
  <div class="hidden">
    {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
  </div>

  <table class="form_table">
    {% for field in form.visible_fields %}
    <tr>
      <td>{{ field.label_tag }}</td>
      <td>{{ field }}</td>
    </tr>
    {% if field.errors %}
    <tr>
      <td colspan="2">{{ field.errors }}</td>
    </tr>
    {% endif %} {% endfor %}
  </table>

  <input class="button button-success" type="submit" value="Update" />
  <a class="button button-link" href="{% url 'captaineditteam' teamid=team.id  %}">Cancel</a>
</form>
{% endblock %}
