{% extends 'layout/layout_user.html' %}
{% load teams %}
{% load utility %}

{% block title %}Game Report &middot; Captain Resources &middot; {{ block.super }}{% endblock %}

{% block content %}
  <div class="page-game-report">
    {% include '_partials/account_tabs.html' with selected_tab='captain' %}

    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumb">
          <a href="{% url 'captain' %}">
            Captain Resources
          </a>
        </li>
        <li class="breadcrumb breadcrumb-active">
          {{ team.league|smart_title }}
        </li>
        <li class="breadcrumb breadcrumb-active">
          Game Report
        </li>
      </ul>
    </div>

    <h1>Game Report for {{ game.date|date:"l, F jS" }}</h1>

    <form class="form" method="post">{% csrf_token %}
      {{ score_formset.management_form }}

      <div class="page-game-report-scores">
        <h3>What was the score?</h3>
        <div class="team-card-game">
          <div class="team-card-game-team">

            {% include 'captain/gamereport_team_card.html' with team=team score_form=score_us_form only %}

          </div>

          <div class="team-card-game-divider">vs</div>

          <div class="team-card-game-team">

            {% with team=game|get_game_opponent_team:user %}
              {% include 'captain/gamereport_team_card.html' with team=team score_form=score_them_form only %}
            {% endwith %}

          </div>
        </div>
      </div>

      <div class="page-game-report-spirit">
        <h3>How would you rate the spirit of the game?</h3>
        <p>
          {% if comment_form.spirit.errors %}
            <p>
              {% for error in comment_form.spirit.errors %}
                {{ error }}<br />
              {% endfor %}
            </p>
          {% endif %}
          {{ comment_form.spirit }}
        </p>
      </div>

      <div class="page-game-report-attendance">
        <h3>Who was there for your team?</h3>
        <div class="page-game-report-attendance-table">
          <div class="page-game-report-attendance-row">
            {% for team_member in team.teammember_set.all %}
              <div class="page-game-report-attendance-row-element">
                <div class="checkbox">
                  <label class="page-game-report-attendance-row-element-label" for="user_{{ team_member.user.id }}">
                    <input type="checkbox" id="user_{{ team_member.user.id }}" name="user_{{ team_member.user.id }}" {% if team_member.user.id in attendance %}checked{% endif %}>
                    {{ team_member.user.get_full_name }}
                    <em>{{ team_member.user.profile.nickname }}</em>
                  </label>
                </div>
              </div>

              {% if forloop.counter|divisibleby:'3' %}
                </div><div class="page-game-report-attendance-row">
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="page-game-report-comment">
        <h3 title="This will remain private and will not be shared with your co-captain">
          Anything else? <a href="{% url 'comments' %}" target="_blank"><small>(help)</small></a>
        </h3>
        {{ comment_form.comment.errors }}
        {{ comment_form.comment }}
      </div>

      <input class="button button-success" type="submit" value="Submit Report">
      <a class="button button-link" href="{% url 'captain' %}">Back</a>
    </form>
  </div>
{% endblock %}
