{% extends 'layout/layout_user.html' %}
{% load teams %}

{% block title %}Player Survey &middot; Captain Resources &middot; {{ block.super }}{% endblock %}

{% block content %}
<div class="page-player-survey">
  {% include '_partials/account_tabs.html' with selected_tab='captain' %}

  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb">
        <a href="{% url 'captain' %}">Captain Resources</a>
      </li>
      <li class="breadcrumb">
        <a href="{% url 'playersurvey' team_id=team.id %}">Player Survey</a>
      </li>
    </ul>
  </div>

  <h1>Player Survey</h1>

  <p>
    Please complete the following form to the best of your ability.
    The team generation process relies heavily on the accuracy of
    these answers, as they will be used to help balance teams.
  </p>

  <p>
    If you do not feel that you are able to rate a player (e.g.
    you were unable to evaluate them due to absences), please
    check the "Not Sure" box.
  </p>

  <p>
    <strong>Note:</strong> This information is only used by league
    administrators. Your answers will never be shared or
    made public.
  </p>

  <hr />

  <h2>Player Rating Values</h2>

  <h3>Strategy</h3>
  <ul>
    {% for value, text in ratings_choices.strategy %}
      <li>{{ value }} - {{ text }}</li>
    {% endfor %}
  </ul>

  <h3>Throwing</h3>
  <ul>
    {% for value, text in ratings_choices.throwing %}
      <li>{{ value }} - {{ text }}</li>
    {% endfor %}
  </ul>

  <h3>Athleticism</h3>
  <ul>
    {% for value, text in ratings_choices.athleticism %}
      <li>{{ value }} - {{ text }}</li>
    {% endfor %}
  </ul>

  <form class="form" method="post" action="{% url 'playersurvey' team_id=team.id  %}">{% csrf_token %}
    {{ formset.management_form }}

    <table class="page-player-survey-table table table-centered table-striped">
      <tbody>
        <tr>
          <td></td>
          <th>Strategy</th>
          <th>Throwing</th>
          <th>Athleticism</th>
          <th>Spirit</th>
          <th>Not Sure</th>
        </tr>
        {% for row in survey %}
          <tr>
            <th>
              <div>
                {{ row.user.get_full_name }}
                {% for hidden in row.form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              </div>
            </th>
            {% for field in row.form.visible_fields %}
              <td class="page-player-survey-table-cell">
                <div class="page-player-survey-table-cell-field{% if field.errors %} page-player-survey-table-cell-field-error{% endif %}">
                  {{ field }}
                  {% if not forloop.last %}
                    <div class="small strong">{{ row.user|get_average:field.label }}</div>
                  {% endif %}
                </div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if formset.errors %}
      <div class="message message-danger">
        Make sure that for all players you have either filled out all ratings with non-zero values or checked the "Not Sure" box.
      </div>
    {% endif %}

    <input class="button button-success" type="submit" value="Update" />
    <a class="button button-link" href="{% url 'captain' %}">Cancel</a>
  </form>
</div>
{% endblock %}
