{% extends "layout/layout_user.html" %}

{% block content %}
	{% include "layout/account_tabs.html" with selected_tab="junta" %}

	<h1>Junta Resources</h1>

	<ul>
		<li><a href="{% url captainstatus %}">Captain Status</a></li>
		<li><a href="{% url leagueresults %}">League Results</a></li>
		<li><a href="{% url registrationexport %}">Registration Export</a></li>
		<li><a href="{% url teamimport %}">Team Import</a></li>
		<li><a href="{% url schedulegeneration %}">Schedule Generation</a></li>
	</ul>
{% endblock %}