{% extends "layout/layout_user.html" %}

{% load games %}
{% load leagues %}
{% load utility %}

{% block content %}

	{% include "layout/account_tabs.html" with selected_tab="junta" %}

	<h1>Registration Export</h1>

	<ul>
		{% regroup leagues by season_year as season_years %}

		{% for season_year in season_years %}
			<li>
				{% with league=season_year.list|first %}
					<h3>{{ season_year.grouper|smart_title }}</h3>
				{% endwith %}

				<ul>
					{% for league in season_year.list|dictsort:'league_start_date' %}
						<li>
							<a href="{% url registrationexport_league year=league.year season=league.season division=league.night %}">
								{{ league.night|smart_title }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
