{% extends "layout/layout_user.html" %}

{% load games %}
{% load leagues %}
{% load utility %}

{% block content %}

	{% include "layout/account_tabs.html" with selected_tab="junta" %}

	{% if leagues %}
		<h1>Schedule Generation</h1>

		<ul>
			{% regroup leagues by season_year as season_years %}

			{% for season_year in season_years %}
				<li>
					{% with league=season_year.list|first %}
						<h3>{{ season_year.grouper|smart_title }}</h3>
					{% endwith %}

					<ul>
						{% for league in season_year.list|dictsort:'league_start_date' %}
							<li>
								<a href="{% url schedulegeneration_league year=league.year season=league.season division=league.night %}">
									{{ league.night|smart_title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		{% include "layout/league_header.html" with league=league header="Schedule Generation" only %}

		<table class="table table-striped">
			<tbody>
				{% for event in schedule %}
					<tr>
						{% for team in event %}
							{% if forloop.counter0|divisibleby:"2" %}
								<td class="text_center">
							{% endif %}

							<div>{{ team.id }}</div>

							{% if not forloop.counter0|divisibleby:"2" %}
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<p>
			You will need to choose {{ num_games }} fields to play on. You may add
			exceptions and make changes in the admin interface after the schedule
			is created.
		</p>

		<form class="wide_form" method="post">{% csrf_token %}
			<div class="field_wrapper">
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
			</div>

			<table class="form_table">
				{% for field in form.visible_fields %}
					<tr>
						<td>{{ field.label_tag }}</td>
						<td>{{ field }}</td>
						<td>{{ field.help_text }}</td>
					</tr>
					{% if field.errors %}
						<tr>
							<td colspan="3">{{ field.errors }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>

			<input class="button button_success" type="submit" value="Submit Schedule">
			<a href="{% url schedulegeneration %}">Cancel</a>
		</form>
	{% endif %}
{% endblock %}