{% extends 'layout/layout_user.html' %}

{% block title %}Edit Profile &middot; My Account &middot; {{ block.super }}{% endblock %}

{% block content %}

<div class="tabs">
  <ul class="tabs-list">
    <li class="tab tab-selected">
      <a class="tab-link" href="{% url 'editprofile' %}">
        Edit Profile
      </a>
    </li>
    <li class="tab">
      <a class="tab-link" href="{% url 'editratings' %}">
        Edit Ratings
      </a>
    </li>
  </ul>
</div>

<div class="breadcrumbs">
  <ul class="breadcrumbs-list">
    <li class="breadcrumb">
      <a href="{% url 'user' %}">My Account</a>
    </li>
    <li class="breadcrumb">
       My Profile
    </li>
  </ul>
</div>

<h1>Edit Profile</h1>

<form class="form" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-field form-field-table{% if field.errors %} form-field-error{% endif %}">
      <label class="form-field-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>

      <div class="form-field-input">
        {{ field }}

        {% if field.errors %}
        <div class="form-field-input-errors">
          <ul class="form-field-input-errors-list">
            {% for error in field.errors %}
              <li>{{ error|escape }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="form-field-help">
        {{ field.help_text }}
      </div>
    </div>
  {% endfor %}
  {% for field in player_form.visible_fields %}
    {% if field.name != 'guardian_name' and field.name != 'guardian_email' and field.name != 'guardian_phone' %}
      <div class="form-field form-field-table{% if field.errors %} form-field-error{% endif %}">
        <label class="form-field-label" for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>

        <div class="form-field-input">
          {{ field }}

          {% if field.errors %}
          <div class="form-field-input-errors">
            <ul class="form-field-input-errors-list">
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="form-field-help">
          {{ field.help_text }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <hr>

  {% if request.user.profile.is_minor %}
    <p class="form-field form-field-highlighted" colspan="3">
      <strong>Players under the age of 18 must provide a parent or guardian's contact information:</strong>
    </p>

    {% for field in player_form.visible_fields %}
      {% if field.name == 'guardian_name' or field.name == 'guardian_email' or field.name == 'guardian_phone' %}
        <div class="form-field form-field-table form-field-highlighted{% if field.errors %} form-field-error{% endif %}">

          <label class="form-field-label" for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>

          <div class="form-field-input">
            {{ field }}

            {% if field.errors %}
            <div class="form-field-input-errors">
              <ul class="form-field-input-errors-list">
                {% for error in field.errors %}
                  <li>{{ error|escape }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
          <div class="form-field-help">
            {{ field.help_text }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <p>
    <small>
      An asterisk (*) denotes a required field.
    </small>
  </p>

  <input class="button button-success" type="submit" value="Update Profile">
  <a class="button button-link" href="{% url 'user' %}">Cancel</a>
</form>

{% endblock %}
