{% extends "layout/layout_user.html" %}

{% load leagues %}
{% load league_registrations %}
{% load staticfiles %}
{% load teams %}
{% load user_roles %}
{% load utility %}

{% block content %}
<div class="page-user-index">
  {% include "_partials/account_tabs.html" with selected_tab="user" %}

  {% if next_game and next_game.get_teams|length %}
    <h2>My Next Game</h2>

    <div class="page-user-index-next-game">
      <div class="page-user-index-next-game-info">
        <div class="page-user-index-next-game-info-date">
          {{ next_game.date|date:"l F jS, Y" }}
          {% if next_game.start %}
            {{ next_game.start|date:'g:iA'|lower }}
          {% else %}
            {{ next_game.league.times }}
          {% endif %}
        </div>
        <div class="page-user-index-next-game-info-field">
          at {{ next_game.field_name.field.name }} {{ next_game.field_name.name }}

          {% if next_game.field_name.field.driving_link %}
            <small>
              &middot;
              <a href="{{ next_game.field_name.field.driving_link }}" target="_blank">
                Directions
              </a>
            </small>
          {% endif %}

          {% if next_game.field_name.field.layout_link %}
            <small>
              &middot;
              <a href="{% static next_game.field_name.field.layout_link %}" target="_blank">
                Layout
              </a>
            </small>
          {% endif %}
        </div>
      </div>

      <div class="team-card-game">
        {% for team in next_game.get_teams %}
          <div class="team-card-game-team">

            {% include '_partials/team_card.html' with team=team user=request.user only %}

          </div>

          {% if forloop.first %}
            <div class="team-card-game-divider">vs</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if following_game and following_game.get_teams|length %}
    <p class="page-user-index-following-game">
      Following that, you have a game

      {% if following_game.start %}
        at <strong>{{ following_game.start|date:'g:iA'|lower }}</strong>
        on <strong>{{ following_game.date|date:"l F jS, Y" }}</strong><br />
      {% else %}
        on <strong>{{ following_game.date|date:"l F jS, Y" }}</strong>
        from <strong>{{ following_game.league.times }}</strong><br />
      {% endif %}

      at <strong>{{ following_game.field_name.field.name }} {{ following_game.field_name.name }}</strong>.
    </p>
  {% endif %}

  <hr>

  <h2>My Profile</h2>
  <p>
    <a href="{% url 'editprofile'  %}">Edit Profile</a>
  </p>
  <p>
    <a href="{% url 'editratings'  %}">Edit Ratings</a>
  </p>

  <h2>My Registrations</h2>
  {% if registrations %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>League</th>
          <th colspan="2">Status</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
        {% for league in current_leagues %}
          {% for registration in league|league_registrations:user %}
            <tr>
              <td>
                <a href="{% url 'league_registration' year=registration.league.year season=registration.league.season division=registration.league.night  %}">
                  {{ registration.league.season_title|smart_title }}
                  {{ registration.league.year }}
                  {{ registration.league.night|smart_title }}
                </a>
              </td>
              <td>{{ registration.progress }}%</td>
              <td>{{ registration.status }}</td>
              <td>
                {% for baggage_reg in registration.baggage.get_registrations %}
                  <div>{{ baggage_reg.user.get_full_name }}</div>
                {% empty %}
                  No group
                {% endfor %}

                {% if registration.is_complete and registration.league.baggage > 1 and not registration.waitlist and not registration.league.waitlist_start_date|is_past_deadline %}
                  <div><a href="{% url 'league_group' year=league.year season=league.season division=league.night  %}">Edit Group</a></div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endfor%}
      </tbody>
    </table>

    <p class="page-user-index-registrations-note">
      PayPal payments occasionally take some time to clear. Try reloading after a few minutes have passed.
      <br />
      If you used the e-check feature of Paypal it may take up to a week to clear.
      <br />
      If paying by check, the status will remain unconfirmed until your check is received and deposited.
    </p>
  {% else %}
    <h5>No Registrations Found</h5>
  {% endif %}
</div>
{% endblock %}
