{% extends 'layout/layout_home.html' %}

{% load i18n %}

{% block title %}Log In &middot; {{ block.super }}{% endblock %}

{% block content %}

<h1>{% trans 'Log in to Ann Arbor Ultimate' %}</h1>

{% if next %}
{% if user.is_authenticated %}
<p>
  {% trans 'Your account does not have access to this page. To proceed, please log in with an account that has access.' %}
</p>
{% else %}
<p>
  {% trans 'Please log in to see this page.' %}
</p>
{% endif %}
{% endif %}

{% if form.errors %}
<div class="message message-danger">
  {% trans 'Your username and password did not match. Please try again.' %}
</div>
{% endif %}

<form class="form" method="post" action="{% url 'auth_log_in' %}">{% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />

  <div class="form-field form-field-table">
    <label class="form-field-label" for="{{ form.username.id_for_label }}">
      Email Address
    </label>

    <div class="form-field-input">
      {{ form.username }}
    </div>
  </div>

  <div class="form-field form-field-table">
    <label class="form-field-label" for="{{ form.password.id_for_label }}">
      Password
    </label>

    <div class="form-field-input">
      {{ form.password }}
    </div>
  </div>

  <input class="button button-success" type="submit" value="Log In" />
</form>

<h3>Forgot your password?</h3>
<p>
  Go ahead and <a href="{% url 'password_reset' %}">reset your password</a>.
</p>

<h3>Don't have an account?</h3>
<p>
  What are you waiting for? <a href="{% url 'registration_register' %}">Create an account</a> now!
</p>

{% endblock %}
