{% extends "layout/layout_home.html" %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Log In' %}</h1>

{% if form.errors %}
<p>
  {% trans 'Your email and password did not match. Please try again.' %}
</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>
  {% trans 'Your account does not have access to this page. To proceed, please log in with an account that has access.' %}
</p>
{% else %}
<p>
  {% trans 'Please log in to see this page.' %}
</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'auth_log_in' %}">{% csrf_token %}
  <table class="form_table">
    <tr>
      <td><label for="id_username">Email Address</label></td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td><label for="id_password">Password</label></td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input class="button button-success" type="submit" value="Log In" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<h2>Forgot Your Password?</h2>
Go ahead and <a href="{% url 'password_reset' %}">reset your password</a>.

<h2>Don't Have An Account?</h2>
What are you waiting for? <a href="{% url 'registration_register' %}">Create an account</a> now!

{% endblock %}
