{% extends 'layout/layout_home.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Log in to Ann Arbor Ultimate' %}</h1>

{% if next %}
{% if user.is_authenticated %}
<p>
  {% trans 'Your account does not have access to this page. To proceed, please log in with an account that has access.' %}
</p>
{% else %}
<p>
  {% trans 'Please log in to see this page.' %}
</p>
{% endif %}
{% endif %}

{% if form.errors %}
<div class="message message-danger">
  {% trans 'Your username and password did not match. Please try again.' %}
</div>
{% endif %}

<form method="post" action="{% url 'auth_log_in' %}">{% csrf_token %}
  <table class="form_table">
    <tr>
      <td><label for="id_username">Email Address</label></td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td><label for="id_password">Password</label></td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input class="button button-success" type="submit" value="Log In" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<h4>Forgot your password?</h4>
<p>
  Go ahead and <a href="{% url 'password_reset' %}">reset your password</a>.
</p>

<h4>Don't have an account?</h4>
<p>
  What are you waiting for? <a href="{% url 'registration_register' %}">Create an account</a> now!
</p>

{% endblock %}
