{% extends "layout/layout_home.html" %}

{% block content %}

<h1>Create an Ann Arbor Ultimate Account</h1>

<form class="form sign-up-form" method="post">{% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
		{% if not field.name == 'captcha' %}
			<div class="sign-up-form-field{% if field.name in 'blank,honeypot' %} sign-up-form-field-hidden{% endif %}">
				<label class="sign-up-form-field-label" for="{{ field.id_for_label }}">
					{{ field.label }}
				</label>

				<div class="sign-up-form-field-content">
					<div class="sign-up-form-field-content-input{% if field.errors %} sign-up-form-field-content-input-error{% endif %}">{{ field }}</div>
					<div class="sign-up-form-field-content-help">{{ field.help_text }}</div>
					{% if field.errors %}
						<div class="sign-up-form-field-content-errors">
							<ul class="sign-up-form-field-content-errors-list">
								{% for error in field.errors %}
									<li>{{ error|escape }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}

	<div class="sign-up-form-field sign-up-form-field-captcha">
		<label class="sign-up-form-field-captcha-label" for="{{ form.captcha.id_for_label }}">{{ form.captcha.label }}</label>
		<div class="sign-up-form-field-captcha-content{% if form.captcha.errors %} sign-up-form-field-captcha-content-error{% endif %}">
			{{ form.captcha }}
		</div>
		{% if form.captcha.errors %}
			<div class="sign-up-form-field-content-errors">
				<ul class="sign-up-form-field-content-errors-list">
					{% for error in form.captcha.errors %}
						<li>{{ error|escape }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>

	<button class="button button-success" type="submit">Create Account</button>
</form>

{% endblock %}
