{% extends 'layout/layout_home.html' %}

{% load i18n %}

{% block title %}Create Account &middot; {{ block.super }}{% endblock %}

{% block content %}

<h1>{% trans 'Create an Ann Arbor Ultimate Account' %}</h1>

<p>
  {% trans 'Please complete the following form. All fields are required.' %}
</p>

<form class="form" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    {% if not field.name == 'captcha' %}
      <div class="form-field form-field-table{% if field.name in 'blank,honeypot' %} form-field-hidden{% endif %}{% if field.errors %} form-field-error{% endif %}">
        <label class="form-field-label" for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>

        <div class="form-field-input">
          {{ field }}

          {% if field.errors %}
          <div class="form-field-input-errors">
            <ul class="form-field-input-errors-list">
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="form-field form-field-block form-field-highlighted{% if form.captcha.errors %} form-field-error{% endif %}">
    <label class="form-field-label" for="{{ form.captcha.id_for_label }}">
      {{ form.captcha.label }}
    </label>
    <div class="form-field-input">
      {{ form.captcha }}

      {% if form.captcha.errors %}
      <div class="form-field-input-errors">
        <ul class="form-field-input-errors-list">
          {% for error in form.captcha.errors %}
            <li>{{ error|escape }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>

  <button class="button button-success" type="submit">Create Account</button>
</form>

{% endblock %}
