{% load url from future %}
{% load utility %}

<ul class="flat_list">
	{% regroup leagues by season_year as season_years %}

	{% for season_year in season_years %}
		<li>
			<h3>{{ season_year.grouper|smart_title }}</h3>

			<ul>
				{% for league in season_year.list|dictsort:'league_start_date' %}
					<li>
						<a href="{% url link_view year=league.year season=league.season division=league.night %}">
							{{ league.night|smart_title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
