{% load games %}
{% load webpack_static from webpack_loader %}

<table class="schedule-table table table-centered{% if condensed %} table-condensed{% endif %} table-fixed table-striped">
  <thead>
    <tr>
      <td></td>
      {% regroup game_locations by field as field_list %}
      {% for field in field_list %}
        <th colspan="{{ field.list|length }}">
          {{ field.grouper }}

          {% if field.grouper.driving_link %}
            <small>
              &middot;
              <a href="{{ field.grouper.driving_link }}" target="_blank">
                Directions
              </a>
            </small>
          {% endif %}

          {% if field.grouper.layout_link %}
            <small>
              &middot;
              <a href="{% webpack_static field.grouper.layout_link %}" target="_blank">
                Layout
              </a>
            </small>
          {% endif %}
        </th>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      {% regroup game_locations by start as start_list %}
      {% for start in start_list %}
        <th colspan="{{ start.list|length }}">
          {{ start.grouper|date:'h:iA'|lower }}
        </th>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      {% regroup game_locations by field_name as field_name_list %}
      {% for field_name in field_name_list %}
          <th colspan="{{ field_name.list|length }}">
            {{ field_name.grouper.name }}
          </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for game_date in game_dates %}
      <tr class="schedule-table-date{% if game_date.date == next_game_date %} schedule-table-date-next{% endif %}">
        <th>
          <div>{{ game_date.date|date:'M' }}</div>
          <div>{{ game_date.date|date:'jS' }}</div>
        </th>
        {% for game in game_date.games %}
          <td class="schedule-table-game">
            {% if game %}
              {% for team in game.get_teams %}
                {% if link_game_report %}
                  <a class="schedule-table-game-team-link" href="{% url 'gamereports_game' year=league.year season=league.season.slug division=league.night_slug game_id=game.id team_id=team.id %}">
                {% elif show_game_result %}
                  <div>
                {% else %}
                  <a class="schedule-table-game-team-jump" href="#team-roster-{{ team.id }}"{% if game in user_games %} style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }};"{% endif %}>
                {% endif %}

                {% if show_game_result %}
                  {% for report in game|get_report_for_team:team %}
                    <div class="schedule-table-game-result-{{ report|get_result:team }}">
                      {{ team.id }}
                      {{ report|get_report_scores_formatted }}
                    </div>
                  {% empty %}
                    {{ team.id }}
                  {% endfor %}
                {% else %}
                  {{ team.id }}
                {% endif %}

                {% if show_game_result %}
                  </div>
                {% else %}
                  </a>
                {% endif %}
              {% empty %}
                TBA
              {% endfor %}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
