{% load league_registrations %}
{% load math %}


<div class="progress_bar progress_bar_labeled">
	<div class="progress success" style="width: {{ registration.progress|add:tick_percentage|limit_ceil:"100" }}%;"></div>

	<div class="tick {{ tick_percentage|multiply_by:"1"|get_registration_tick_color:registration }}" style="left: {{ tick_percentage|multiply_by:"1" }}%;"></div>
	<div class="tick {{ tick_percentage|multiply_by:"2"|get_registration_tick_color:registration }}" style="left: {{ tick_percentage|multiply_by:"2" }}%;"></div>
	<div class="tick {{ tick_percentage|multiply_by:"3"|get_registration_tick_color:registration }}" style="left: {{ tick_percentage|multiply_by:"3" }}%;"></div>
	<div class="tick {{ tick_percentage|multiply_by:"4"|get_registration_tick_color:registration }}" style="left: {{ tick_percentage|multiply_by:"4" }}%;"></div>
	{% if league.check_price == 0 and league.paypal_price == 0 or not league.checks_accepted %}
		<div class="tick {{ tick_percentage|multiply_by:"5"|get_registration_tick_color:registration }}" style="left: {{ tick_percentage|multiply_by:"5" }}%;"></div>
	{% endif %}

	{% if registration.progress >= tick_percentage|multiply_by:"0" %}
		<a class="tick_label" style="left: {{ tick_percentage|multiply_by:"1" }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='conduct'  %}">Code of Conduct</a>
	{% else %}
		<span class="tick_label" style="left: {{ tick_percentage|multiply_by:"1" }}%">Code of Conduct</span>
	{% endif %}

	{% if registration.progress >= tick_percentage|multiply_by:"1" %}
		<a class="tick_label" style="left: {{ tick_percentage|multiply_by:"2" }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='waiver'  %}">Waiver</a>
	{% else %}
		<span class="tick_label" style="left: {{ tick_percentage|multiply_by:"2" }}%">Waiver</span>
	{% endif %}

	{% if registration.progress >= tick_percentage|multiply_by:"2" %}
		<a class="tick_label" style="left: {{ tick_percentage|multiply_by:"3" }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='attendance'  %}">Attendance</a>
	{% else %}
		<span class="tick_label" style="left: {{ tick_percentage|multiply_by:"3" }}%">Attendance</span>
	{% endif %}

	{% if league.check_price == 0 and league.paypal_price == 0 or not league.checks_accepted %}

		{% if registration.progress >= tick_percentage|multiply_by:"3" %}
			<a class="tick_label" style="left: {{ tick_percentage|multiply_by:"4" }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='status'  %}">Status {{ registration.progress }}%</a>
		{% else %}
			<span class="tick_label" style="left: {{ tick_percentage|multiply_by:"4" }}%">Status {{ registration.progress }}%</span>
		{% endif %}

	{% else %}

		{% if registration.progress >= tick_percentage|multiply_by:"3" %}
			<a class="tick_label" style="left: {{ tick_percentage|multiply_by:"4" }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='pay_type'  %}">Payment Type</a>
		{% else %}
			<span class="tick_label" style="left: {{ tick_percentage|multiply_by:"4" }}%">Payment Type</span>
		{% endif %}

		{% if registration.progress >= tick_percentage|multiply_by:"4" %}
			<a class="tick_label" style="left: {{ tick_percentage|multiply_by:"5" }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='status'  %}">Status {{ registration.progress }}%</a>
		{% else %}
			<span class="tick_label" style="left: {{ tick_percentage|multiply_by:"5" }}%">Status {{ registration.progress }}%</span>
		{% endif %}

	{% endif %}

</div>

