{% extends "layout/layout_user.html" %}

{% block content %}

<h1>
	{{ league.season|capfirst }} League {{ league.year }} - {{ league.night|title }} Registration
</h1>

{% include 'leagues/registration/_progress.html' %}

<h2>How would you like to pay?</h2>

<p>
	The cost of this league varies depending on payment type. PayPal is preferred, but check is also acceptable.
</p>

<p>
	<ul>
		<li>${{ league.paypal_cost }} via PayPal</li>
		<li>${{ league.check_cost }} via Check</li>
	</ul>
</p>

<form method="post">{% csrf_token %}
	<input class="button button_success" type="submit" value="Paypal" name="pay_type" />
	<input class="button button_success" type="submit" value="Check" name="pay_type" />
</form>

{% endblock %}