{% extends 'layout/layout_home.html' %}
{% load i18n %}

{% block content %}

	<h1>{% trans "Password reset" %}</h1>

	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

	<form action="" method="post">{% csrf_token %}
		<div class="hidden">
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
		</div>

		<table class="form_table">
			{% for field in form.visible_fields %}
				<tr>
					<td>{{ field.label_tag }}</td>
					<td>{{ field }}</td>
					<td>{{ field.help_text }}</td>
				</tr>
				{% if field.errors %}
					<tr>
						<td colspan="3">{{ field.errors }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
		<input class="button button-success" type="submit" value="{% trans 'Reset My Password' %}">
	</form>

{% endblock %}
