{% extends 'layout/layout_home.html' %}
{% load i18n %}

{% block title %}Password Reset | {{ block.super }}{% endblock %}

{% block content %}

  <h1>{% trans 'Password Reset' %}</h1>

  <p>{% trans 'Forgot your password? Enter your email address below, and we will email instructions for setting a new one.' %}</p>

  <form action="" method="post">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-field form-field-inline{% if field.errors %} form-field-error{% endif %}">
        <label class="form-field-label" for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>

        <div class="form-field-input">
          {{ field }}

          {% if field.errors %}
          <div class="form-field-input-errors">
            <ul class="form-field-input-errors-list">
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="form-field-help">
          {{ field.help_text }}
        </div>
      </div>
    {% endfor %}

    <input class="button button-success" type="submit" value="{% trans 'Reset My Password' %}">
  </form>

{% endblock %}
