{% extends 'layout/layout_home.html' %}
{% load i18n %}

{% block title %}Password Reset &middot; {{ block.super }}{% endblock %}

{% block content %}

  {% if validlink %}

    <h1>{% trans 'Enter New Password' %}</h1>

    <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>

    <form class="form" action="" method="post">{% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-field form-field-inline{% if field.errors %} form-field-error{% endif %}">
          <label class="form-field-label" for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>

          <div class="form-field-input">
            {{ field }}

            {% if field.errors %}
            <div class="form-field-input-errors">
              <ul class="form-field-input-errors-list">
                {% for error in field.errors %}
                  <li>{{ error|escape }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
          <div class="form-field-help">
            {{ field.help_text }}
          </div>
        </div>
      {% endfor %}

      <input class="button button-success" type="submit" value="{% trans 'Reset My Password' %}">
    </form>

  {% else %}

    <h1>{% trans 'Password Reset Unsuccessful' %}</h1>

    <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>

    <p><a class="button button-link" href="{% url 'password_reset' %}">Reset Password</a></p>

  {% endif %}

{% endblock %}
