.slider {
  margin: 0 0 1rem;
}

.slider input {
  float: right;

  width: 4rem;
  margin-right: 1rem;

  border: none;
  background: transparent;

  font-size: 1.75rem;
  font-weight: bold;
}

.slider .slider_errors {
  color: $color-danger;

  font-weight: bold;
}

.slider-element {
  height: 1rem !important;
  margin: 1.25rem 6rem 1.25rem 1rem;

  border: 0 !important;
  border-radius: $border-radius !important;
  background-color: $color-light-gray;
}

.slider-element .ui-slider-handle {
  top: -0.25rem !important;

  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-left: -0.75rem !important;

  cursor: grab;

  border: 0 !important;
  border-radius: 50% !important;
  background-color: $color-green;
}

.slider-element .ui-slider-handle:active {
  cursor: grabbing;

  background-color: $color-green-dark;
}

.slider-description {
  @include grid-container;
  @include grid-collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
}

.slider-description-left {
  padding-left: 1rem;

  text-align: left;

  @include grid-column(6);
}

.slider-description-right {
  padding-right: 1rem;

  text-align: right;

  @include grid-column(6);
}
