body {
  position: relative;
  z-index: $z-body;

  min-width: 61.25rem; // TODO get rid of this to go responsive
  margin: 0;
  padding: 0;

  color: $color-primary;
  border-top: 0.25rem solid $color-secondary;
  background-color: $color-light-gray;

  font-family: $font-family-lato;
  font-size: $font-size-root;
  font-weight: 400;
  font-style: normal;
}

// HEADER

.header {
  position: relative;
  z-index: $z-body-header;

  padding: 0.75rem 0;

  background-color: $color-white;
}

.header-inner {
  position: relative;

  @include outer-container(62rem);
}

.header-inner-top {
  position: relative;

  padding: 0.5rem;
}

.header-inner-top-banner {
  position: relative;

  display: inline-block;

  padding-left: 0.1875rem;

  &:active {
    top: 0.0625rem;
  }
}

.header-inner-top-banner-image {
  width: 24rem;
}

.header-inner-top-links {
  position: absolute;
  top: 50%;
  right: 0;

  margin: -1rem 0 0;
  padding: 0;

  list-style: none;

  vertical-align: middle;

  line-height: 2;
}

.header-inner-top-links-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-inner-top-links-list-element {
  display: inline-block;

  &:after {
    display: inline-block;

    content: '\00b7';

    color: $color-light-gray-dark;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.header-inner-top-links-list-element-link {
  display: inline-block;

  padding: 0 0.75rem;

  font-weight: 600;
}

.nav {
  position: relative;
  z-index: $z-body-nav;

  background-color: $color-light-gray;
}

.nav-inner {
  position: relative;

  @include outer-container(62rem);
}

.nav-inner-left {
  display: inline-block;
}

.nav-inner-right {
  display: inline-block;
  float: right;
}

.nav-inner-list {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    position: relative;
  }

  > li {
    display: inline-block;

    color: $color-gray;

    > a {
      display: block;

      padding: 0.75rem;

      color: $color-dark-gray;

      font-weight: 600;

      &:active,
      &:hover {
        text-decoration: none !important;

        color: $color-dark-gray-dark;
        background-color: $color-light-gray-dark;
      }

      &:focus {
        text-decoration: none !important;
      }
    }
  }
}

.nav-inner-list-dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  visibility: hidden;

  width: 14rem;
  margin: 0;
  padding: 0;

  list-style: none;

  transition: opacity 0.15s ease-in-out;

  opacity: 0;
  color: $color-white;
  background-color: $color-dark-gray;

  line-height: 1.5;

  > li {
    &:hover {
      background-color: $color-dark-gray-dark;
    }

    > a {
      display: block;

      padding: 0.75rem;

      text-decoration: none;

      color: $color-white;
    }
  }

  .nav-inner-list-dropdown {
    top: 0;
    left: 100%;

    border-right: 0;
    border-left: 0.125rem solid $color-dark-gray-dark;
  }

  .nav-inner-right & {
    right: 0;
    left: auto;

    .nav-inner-list-dropdown {
      right: 100%;
      left: auto;

      border-right: 0.125rem solid $color-dark-gray-dark;
      border-left: 0;
    }
  }

  .nav-inner-list li:hover > & {
    visibility: visible;

    transition: opacity 0.15s ease-in-out;

    opacity: 100;
  }
}

.content {
  position: relative;
  z-index: $z-body-content-wrapper;

  padding-top: 1rem;

  background-color: #f9f9f9;
}

.content-inner {
  position: relative;

  padding: 0 0.5rem;

  @include outer-container(62rem);
}

.content-inner-left {
  margin-bottom: 1rem;
  padding: 0 1rem 0.5rem;

  border-right: 0.125rem solid $color-secondary;

  @include span-columns(3, 'block-collapse');
}

.content-inner-left-logo {
  margin-bottom: 1rem;

  text-align: center;
}

.content-inner-left-logo-image {
  width: 12rem;
}

.content-inner-left-social {
  margin-bottom: 1.5rem;

  text-align: center;
}

.content-inner-left-social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.content-inner-left-social-list-element {
  display: inline-block;
}

.content-inner-left-social-list-element-link {
  display: block;

  width: 2rem;
  height: 2rem;
  margin: 0 0.25rem;

  border-radius: $border-radius;
}

.content-inner-left-links {
}

.content-inner-left-links-list {
  margin: 0;
  padding: 0;

  list-style: none;

  > li {
    > ul {
      margin: 0 0 0.75rem;
      padding: 0;

      list-style: none;

      > li {
        margin: 0 0 0.25rem;
        padding: 0;
      }
    }
  }
}

.content-inner-left-leagues {
}

.content-inner-left-leagues-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.content-inner-left-leagues-list-element {
  margin-bottom: 2rem;
}

.content-inner-left-leagues-list-element-header {
}

.content-inner-left-leagues-list-element-divisions {
}

.content-inner-left-leagues-list-element-divisions-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.content-inner-left-leagues-list-element-divisions-list-element {
  margin-bottom: 0.5rem;
}

.content-inner-left-leagues-list-element-divisions-list-element-header {
}

.content-inner-left-leagues-list-element-divisions-list-element-links {
}

.content-inner-left-leagues-list-element-divisions-list-element-links-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.content-inner-left-leagues-list-element-divisions-list-element-links-list-element {
  margin-bottom: 0.25rem;
}

.content-inner-left-leagues-list-element-divisions-list-element-links-list-element-link {
}

.content-inner-right {
  margin-bottom: 1rem;
  padding: 0 0 0.5rem 1rem;

  @include span-columns(9, 'block-collapse');
}

.footer {
  position: relative;
  z-index: $z-body-footer;

  padding: 1rem 0;

  color: $color-gray;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.footer-inner {
  position: relative;

  padding: 0.1875rem;

  text-align: center;

  font-size: 0.9375rem;

  @include outer-container(62rem);
}
