.page-user-index-next-game {

}

.page-user-index-next-game-info {
  text-align: center;
}

.page-user-index-next-game-info-date {
  font-size: 1.5rem;
  font-weight: bold;
}

.page-user-index-next-game-info-time {
  margin-bottom: .5rem;

  font-weight: bold;
}

.page-user-index-next-game-info-field {
  margin-bottom: 1rem;

  font-family: $font-family-lato-bold;
}

.page-user-index-following-game {
  text-align: center;
}

.page-user-index-registrations-note {
  color: $color-gray;
}
