.page-division-teams {
}

.page-division-teams-schedule {
  margin-bottom: 2rem;
}

.page-division-teams-teams {
  margin-bottom: 2rem;

  @include grid-container;
  @include grid-collapse;
  max-width: 75rem;
}

.page-division-teams-teams-team {
  margin-bottom: 1rem;

  @include grid-column(6);
}

.page-division-teams-notes {
  overflow: hidden;

  border-radius: $border-radius;
  background-color: $color-light-gray;
}

.page-division-teams-notes-title {
  padding: 1rem 0;

  text-align: center;
  text-transform: uppercase;

  color: $color-light-gray;
  background-color: $color-gray;
}

.page-division-teams-notes-content {
  padding: 0.5rem 1rem 1rem;
}

.page-division-teams-notes-content dl dd {
  margin-bottom: 1rem;
}
