.page-user-index-next-game {
}

.page-user-index-next-game-info {
  text-align: center;

  font-family: $font-family-lato-semibold;
}

.page-user-index-next-game-info-date {
  margin-bottom: 0.25rem;

  font-size: 1.25rem;
}


.page-user-index-next-game-info-field {
  margin-bottom: 0.75rem;
}

.page-user-index-following-game {
  text-align: center;
}

.page-user-index-registrations-note {
  color: $color-gray;
}
