from .base import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ENVIRONMENT = 'dev'

ALLOWED_HOSTS = [
    'localhost',
]

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

INSTALLED_APPS += (
    'debug_toolbar',
    'django_extensions',
)

MIDDLEWARE_CLASSES += (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
)

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

INTERNAL_IPS = (
    '127.0.0.1',
)

CAPTCHA_TEST_MODE = True

DEBUG_TOOLBAR_CONFIG = {
    'SHOW_COLLAPSED': True,
}

WEBPACK_LOADER = {
    'DEFAULT': {
        'BUNDLE_DIR_NAME': '',
        'STATS_FILE': os.path.join(STATIC_ROOT, '../build/stats.json'),
    }
}
