from .base import *

ENVIRONMENT = 'dev'

ALLOWED_HOSTS = [
]

# GOOGLE ANALYTICS
GOOGLE_ANALYTICS_TRACKERS = [
  {'name': '', 'id': '',},
]

PAYPAL_CALLBACK_SECRET = 'replace/this/path/with/a/secret/'

WEBPACK_LOADER = {
    'DEFAULT': {
        'BUNDLE_DIR_NAME': '',
        'STATS_FILE': os.path.join(STATIC_ROOT, '../static/dist/stats.json'),
    }
}
