from .base import *

ENVIRONMENT = 'prod'

ALLOWED_HOSTS = [
]

# GOOGLE ANALYTICS
GOOGLE_ANALYTICS_TRACKERS = [
  {'name': '', 'id': '',},
]

WEBPACK_LOADER = {
    'DEFAULT': {
        'BUNDLE_DIR_NAME': '',
        'STATS_FILE': os.path.join(STATIC_ROOT, '../build/stats.json'),
    }
}
