{% load cache %}
{% load i18n %}
{% load leagues %}
{% load utility %}
{% load webpack_static from webpack_loader %}

<div class="alerts">
  {% if messages %}
    <ul class="alerts-list">
      {% regroup messages|dictsortreversed:"level" by tags as message_groups %}
      {% for message_group in message_groups %}
        {% for message in message_group.list %}
          <li class="alerts-list-element alert alert-{{ message_group.grouper }}">
            {{ message }}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div class="header">
  <div class="header-inner">
    <div class="header-inner-top">
      <a class="header-inner-top-banner" href="{% url 'home'  %}">
        <img class="header-inner-top-banner-image" src="{% webpack_static 'images/assets/header.svg' %}" alt="Ann Arbor Ultimate">
      </a>

      <div class="header-inner-top-links">
        <ul class="header-inner-top-links-list">
          {% if user.is_authenticated %}
            <li class="header-inner-top-links-list-element">
              <a class="header-inner-top-links-list-element-link" href="{% url 'user'  %}">
                {{ user.email }}
              </a>
            </li>
            <li class="header-inner-top-links-list-element">
              <a class="header-inner-top-links-list-element-link" href="{% url 'auth_log_out' %}">
                {% trans 'Log Out' %}
              </a>
            </li>
          {% else %}
            <li class="header-inner-top-links-list-element">
              <a class="header-inner-top-links-list-element-link" href="{% url 'registration_register' %}">
                {% trans 'Create an Account' %}
              </a>
            </li>
            <li class="header-inner-top-links-list-element">
              <a class="header-inner-top-links-list-element-link" href="{% url 'auth_log_in' %}">
                {% trans 'Log In' %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="nav">
  <div class="nav-inner">
    <div class="nav-inner-left">
      {% cache 500 nav_inner_left user.is_superuser user.is_staff %}
        <ul class="nav-inner-list">
          {% autoescape off %}{{ menu_items_nav|prepare_menu_items|unordered_list }}{% endautoescape %}
          {% if user.is_staff %}
            <li>
              <a href="{% url 'admin:index' %}">Admin</a>
            </li>
          {% endif %}
        </ul>
      {% endcache %}
    </div>
    <div class="nav-inner-right">
      {% cache 500 nav_inner_right user.is_junta %}
        <ul class="nav-inner-list">
          {% if menu_leagues %}
            <li>Leagues</li>
            {% regroup menu_leagues by season_year as season_years %}

            {% for season_year in season_years %}
              {% with season_year_league=season_year.list|first %}
                <li>
                  <a href="{% url 'league_index_season' year=season_year_league.year season=season_year_league.season.slug  %}">
                    {{ season_year.grouper|smart_title }}
                  </a>
                  <ul class="nav-inner-list-dropdown">
                    {% for league in season_year.list|sort_by_league_start_date_weekday %}
                      <li>
                        <a href="{% url 'league_summary' year=league.year season=league.season.slug division=league.night_slug  %}">
                          {{ league.night_title|smart_title }}
                        </a>
                        <ul class="nav-inner-list-dropdown">
                          {% if league|is_open:user %}
                            {% if league|is_waitlist:user %}
                              <li><a href="{% url 'league_registration' year=league.year season=league.season.slug division=league.night_slug  %}">Register for Waitlist</a></li>
                            {% else %}
                              <li><a href="{% url 'league_registration' year=league.year season=league.season.slug division=league.night_slug  %}">Register</a></li>
                            {% endif %}
                          {% endif %}
                          <li><a href="{% url 'league_summary' year=league.year season=league.season.slug division=league.night_slug  %}">Summary</a></li>
                          <li><a href="{% url 'league_details' year=league.year season=league.season.slug division=league.night_slug  %}">Detailed Info</a></li>
                          <li><a href="{% url 'league_players' year=league.year season=league.season.slug division=league.night_slug  %}">Players</a></li>
                          <li><a href="{% url 'league_teams' year=league.year season=league.season.slug division=league.night_slug  %}">Teams and Schedules</a></li>
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endwith %}
            {% endfor %}
          {% endif %}
        </ul>
      {% endcache %}
    </div>
  </div>
</div>
