{% load i18n %}
{% load staticfiles %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

<meta name="author" content="Ann Arbor Ultimate">

<!-- apple touch icons -->
<link rel="apple-touch-icon" sizes="57x57" href="{% webpack_static 'images/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% webpack_static 'images/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% webpack_static 'images/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% webpack_static 'images/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% webpack_static 'images/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% webpack_static 'images/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% webpack_static 'images/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% webpack_static 'images/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% webpack_static 'images/apple-icon-180x180.png' %}">
<meta name="apple-mobile-web-app-title" content="A2U">

<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{% webpack_static 'images/favicon-16x16.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% webpack_static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% webpack_static 'images/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="160x160" href="{% webpack_static 'images/favicon-160x160.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% webpack_static 'images/favicon-192x192.png' %}">
<link rel="shortcut icon" href="{% webpack_static 'images/favicon.ico' %}">

<!-- microsoft tile icon -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% webpack_static 'images/ms-icon-144x144.png' %}">
<meta name="msapplication-config" content="{% webpack_static 'browserconfig.xml' %}">
<meta name="application-name" content="A2Ultimate">

<!-- safari tab icon -->

<link rel="mask-icon" href="{% webpack_static 'images/tab-icon.svg' %}" color="#2ecc71">

<!-- open graph http://ogp.me/ -->
<meta property="og:url" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:site_name" content="Ann Arbor Ultimate">
<meta property="og:type" content="website">
<meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% webpack_static 'images/logo_wide.png' %}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">

{% if GOOGLE_ANALYTICS_TRACKERS %}
{% with first_tracker=GOOGLE_ANALYTICS_TRACKERS|first %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ first_tracker.id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  {% for tracker in GOOGLE_ANALYTICS_TRACKERS %}
  gtag('config', '{{ tracker.id }}');
  {% endfor %}
</script>
{% endwith %}
{% endif %}

{% render_bundle 'main' 'css' %}
