{% load cache %}
{% load staticfiles %}
{% load utility %}

{% load webpack_static from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Ann Arbor Ultimate (A2U){% endblock %}</title>
    <meta name="description" content="{% block description %}Ann Arbor Ultimate (A2U) is a nonprofit, volunteer organization dedicated to providing ultimate to players of all skill levels in the greater Ann Arbor area.{% endblock %}">

    <meta property="og:title" content="{% block og_title %}Ann Arbor Ultimate (A2U){% endblock %}">
    <meta property="og:description" content="{% block og_description %}Ann Arbor Ultimate (A2U) is a nonprofit, volunteer organization dedicated to providing ultimate to players of all skill levels in the greater Ann Arbor area.{% endblock %}">

    {% include 'layout/head.html' %}
  </head>

  <body>
    {% include 'layout/header.html' %}

    <div class="content">
      <div class="content-inner">
        {% cache 500 content_inner_left %}
          <div class="content-inner-left">
            <div class="content-inner-left-logo">
              <img class="content-inner-left-logo-image" src="{% webpack_static 'images/assets/logo.svg' %}">
            </div>

            <div class="content-inner-left-social">
              <ul class="content-inner-left-social-list">
                {% if SOCIAL_LINKS %}
                  {% for link in SOCIAL_LINKS %}
                    {% if link.url %}
                      <li class="content-inner-left-social-list-element">
                        <a class="content-inner-left-social-list-element-link social-icon social-icon-{{ link.name }}" href="{{ link.url }}" target="_blank">{{ link.name|title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
            </div>

            <div class="content-inner-left-links">
              <ul class="content-inner-left-links-list">
                {% autoescape off %}
                  {{ menu_items_home_sidebar|prepare_menu_items|unordered_list }}
                {% endautoescape %}
              </ul>
            </div>
          </div>
        {% endcache %}

        <div class="content-inner-right">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    {% include 'layout/footer.html' %}
  </body>
</html>
