{% load staticfiles %}
{% load utility %}

<!DOCTYPE html>
<html>
  <head>
    {% include "layout/head.html" %}
  </head>

  <body>
    {% include "layout/header.html" %}

    <div class="content">
      <div class="content-left">
        <div class="content-left-logo">
          <img class="content-left-logo-image" src="{% static 'images/assets/logo.svg' %}">
        </div>

        <div class="content-left-social">
          <ul class="content-left-social-list">
            <li class="content-left-social-list-element">
              <a class="content-left-social-list-element-link social-icon social-icon-twitter" href="http://twitter.com/a2ultimate" target="_blank">Twitter</a>
            </li>
            <li class="content-left-social-list-element">
              <a class="content-left-social-list-element-link social-icon social-icon-facebook" href="https://www.facebook.com/annarborultimate" target="_blank">Facebook</a>
            </li>
          </ul>
        </div>

        <div class="content-left-links">
          <ul class="content-left-links-list">
            {% autoescape off %}
              {{ menu_items_home_sidebar|prepare_menu_items|unordered_list }}
            {% endautoescape %}
          </ul>
        </div>
      </div>
      <div class="content-right">
        right
      </div>
    </div>

    <div id="content_container" class="clearfix">
      <div id="sidebar">
        <p class="text_center">
          <img src="{% static 'images/assets/logo.svg' %}" width="180">
        </p>

        <ul class="social_icons text_center">
          <li><a class="social_icon social_icon_twitter" href="http://twitter.com/a2ultimate" target="_blank">Twitter</a></li>
          <li><a class="social_icon social_icon_facebook" href="https://www.facebook.com/annarborultimate" target="_blank">Facebook</a></li>
        </ul>

        {% autoescape off %}
          <ul>
            {{ menu_items_home_sidebar|prepare_menu_items|unordered_list }}
          </ul>
        {% endautoescape %}
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% include "layout/footer.html" %}
  </body>
</html>
