{% extends "layout/layout_user.html" %}
{% load user_roles %}
{% load teams %}

{% block content %}
	<div id="content_tabs">
		<ul>
			<li><a href="{% url user %}">My Account</a></li>
			{% if user|is_captain %}
				<li class="selected"><a href="{% url captain %}">Captain Resources</a></li>
			{% endif %}
			{% if user|in_group:"Junta" %}
				<li><a href="{% url junta %}">Junta Resources</a></li>
			{% endif %}
		</ul>
	</div>

	<ul id="breadcrumbs">
		<li><a href="{% url user %}">My Account</a></li>&raquo;
		<li><a href="{% url captain %}">Captain Resources</a></li>&raquo;
		<li><a href="{% url gamereport teamid=team.id gameid=game.id %}">Game Report</a></li>
	</ul>

	<h1>Game Report for {{ game.date|date:"l, F jS" }}</h1>

	<form id="game_report_form" class="clearfix" method="post">{% csrf_token %}
		{{ score_formset.management_form }}

		<div id="game_report_score" class="clearfix">
			<div class="team_score">
				{{ score_us_form.id }}
				<div class="name good_guys">{{ team.name }}</div>
				{{ score_us_form.score.errors }}
				<div class="score_input">{{ score_us_form.score }} points</div>
			</div>
			<div class="team_score">
				{{ score_them_form.id }}
				<div class="name bad_guys">{{ game|get_game_opponent:user }}</div>
				{{ score_them_form.score.errors }}
				<div class="score_input">{{ score_them_form.score }} points</div>
			</div>
			<h3>Spirit</h3>
			<div class="team_score">
				<div class="score_input">
					{{ comment_form.spirit.errors }}
					{{ comment_form.spirit }}
				</div>
			</div>
		</div>

		<div id="game_report_attendance" class="clearfix">
			<h2>Who was there for your team?</h2>
			<table class="form_table">
				{% for team_member in team.get_members|dictsort:"user.last_name" %}
					{% if not forloop.counter|divisibleby:'2' %}
						<tr>
					{% endif %}

					<td>
						<input type="checkbox" id="user_{{ team_member.user.id }}" name="user_{{ team_member.user.id }}" {% if team_member.user.id in attendance %}checked{% endif %} />
						<label for="user_{{ team_member.user.id }}">
							{{ team_member.user.get_full_name }}
							<em>{{ team_member.user.get_profile.nickname }}</em>
						</label>
					</td>

					{% if forloop.counter|divisibleby:'2' %}
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>

		<div id="game_report_comment">
			<h3 title="This will remain private and will not be shared with your co-captain">Game Comments <a href="{% url comments %}" target="_blank">[?]</a></h3>
			{{ comment_form.comment.errors }}
			{{ comment_form.comment }}
		</div>

		<input class="button button_success" type="submit" value="Submit Report">
	</form>

{% endblock %}