/* SORTABLE PLUGIN */

li.sortable-placeholder,
tr.sortable-placeholder td {
  height: 2rem;

  background: $color-turquoise;
}

.slide_selector {
  margin: 1rem 0;
}

.slide_selector label {
  vertical-align: -0.125rem;
  letter-spacing: 0.0625rem;

  font-weight: 300;
}

.slide_selector input {
  float: right;

  width: 4rem;
  margin-right: 0.75rem;

  border: none;
  background: transparent;

  font-size: 1.5rem;
  font-weight: bold;
}

.slide_selector .slider_errors {
  color: $color-danger;

  font-weight: bold;
}

.slide_selector .slider {
  width: 31.25rem;
  margin: 0.75rem auto;
}

.slide_selector .ui-slider-handle {
  cursor: ew-resize;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.slide_selector .ui-slider-handle:active {
  cursor: ew-resize;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slide_selector .slider_description {
  width: 37.5rem;
  min-height: 2.5rem;
  margin: 0 auto;
}

.slide_selector.slider_description div {
  width: 16rem;
}

.slide_selector .slider_description .left {
  float: left;

  text-align: left;
}

.slide_selector .slider_description .right {
  float: right;

  text-align: right;
}
