{% extends "layout/layout_user.html" %}

{% block content %}

<h1>Edit Profile and Skills</h1>

<ul class="nav_tabs">
	<li><a href="{% url editprofile %}">Edit Profile</a></li>
	<li class="selected"><a href="{% url editskills %}">Edit Skills</a></li>
</ul>

<form id="edit_profile_form" method="post">{% csrf_token %}

	<div id="athletic" class="slide_selector">
		<label for="id_athletic">Athleticism: How fast are you?</label>
		{{ form.athletic }}
		<div class="slider_errors">{{ form.athletic.errors }}</div>
		<div class="slider"></div>
		<div class="slider_description">
			<div class="left">I am always the slowest on the field.</div>
			<div class="right">I am always the fastest on the field.</div>
		</div>
	</div>

	<div id="forehand" class="slide_selector">
		<label for="id_forhand">Forehand: How well can you throw a forehand?</label>
		{{ form.forehand }}
		<div class="slider_errors">{{ form.forhand.errors }}</div>
		<div class="slider"></div>
		<div class="slider_description">
			<div class="left">I have never thrown a forehand before.</div>
			<div class="right">I can break-mark huck the length of the field.</div>
		</div>
	</div>

	<div id="backhand" class="slide_selector">
		<label for="id_backhand">Backhand: How well can you throw a backhand?</label>
		{{ form.backhand }}
		<div class="slider_errors">{{ form.backhand.errors }}</div>
		<div class="slider"></div>
		<div class="slider_description">
			<div class="left">I have never thrown a backhand before.</div>
			<div class="right">I can break-mark huck the length of the field.</div>
		</div>
	</div>

	<div id="receive" class="slide_selector">
		<label for="id_receive">Receiving: How well can you catch the disc?</label>
		{{ form.receive }}
		<div class="slider_errors">{{ form.receive.errors }}</div>
		<div class="slider"></div>
		<div class="slider_description">
			<div class="left">I have never caught a disc before.</div>
			<div class="right">I catch any disc that comes near me.</div>
		</div>
	</div>

	<div id="handle" class="slide_selector">
		<label for="id_handle">Handling: How well can you handle?</label>
		{{ form.handle }}
		<div class="slider_errors">{{ form.handle.errors }}</div>
		<div class="slider"></div>
		<div class="slider_description">
			<div class="left">I don't know what handling is.</div>
			<div class="right">Handling is not a problem even in heavy wind.</div>
		</div>
	</div>

	<div id="strategy" class="slide_selector">
		<label for="id_strategy">Strategy: How well do you know the strategy of ultimate?</label>
		{{ form.strategy }}
		<div class="slider_errors">{{ form.strategy.errors }}</div>
		<div class="slider"></div>
		<div class="slider_description">
			<div class="left">I have never played ultimate before.</div>
			<div class="right">I know all plays and can execute them flawlessly.</div>
		</div>
	</div>

	<div id="experience" class="slide_selector">
		<label for="id_experience">Experience: What's the highest level you've played at?</label>
		{{ form.experience }}
		<div class="slider_errors">{{ form.experience.errors }}</div>
		<div class="slider"></div>
		<div class="slider_description">
			<div class="left">I have never played ultimate before.</div>
			<div class="right">I have played with a nationals-level team.</div>
		</div>
	</div>

	<div id="highest_level" class="control_group">
		<div><label for="id_highest_level">Describe the highest level of ultimate you've ever played.</label></div>
		<div>{{ form.highest_level }}</div>
		{{ form.highest_level.errors }}
	</div>

    <input class="button button_success" type="submit" value="Update Skills">
</form>

{% endblock %}