{% extends "layout/layout_user.html" %}

{% block content %}

<h1>Edit Profile and Ratings</h1>

<ul class="nav_tabs">
	<li class="selected"><a href="{% url editprofile %}">Edit Profile</a></li>
	<li><a href="{% url editratings %}">Edit Ratings</a></li>
</ul>

<form id="edit_profile_form" class="wide_form" method="post">{% csrf_token %}
	<div class="field_wrapper">
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
	</div>
	<table class="form_table">
		{% for field in form.visible_fields %}
			<tr>
				<td>{{ field.label_tag }}</td>
				<td>{{ field }}</td>
				<td>{{ field.help_text }}</td>
			</tr>
			{% if field.errors %}
				<tr>
					<td colspan="3">{{ field.errors }}</td>
				</tr>
			{% endif %}
		{% endfor %}
		{% for field in player_form.visible_fields %}
			<tr>
				<td>{{ field.label_tag }}</td>
				<td>{{ field }}</td>
				<td>{{ field.help_text }}</td>
			</tr>
			{% if field.errors %}
				<tr>
					<td colspan="3">{{ field.errors }}</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>

	<input class="button button_success" type="submit" value="Update Profile">
	<a href="{% url user %}">Cancel</a>
</form>

{% endblock %}