{% extends "layout/layout_user.html" %}
{% load leagues %}
{% load league_registrations %}
{% load teams %}

{% block content %}
	<h1>My Account</h1>
	{% include "layout/account_tabs.html" with selected_tab="user" %}


	<h2>Upcoming Games</h2>
	{% if next_game %}
		<div id="next_game">
			<div class="next_game_info">
				<p>Your Next Game Is On:</p>
				<div id="next_game_date">{{ next_game.date|date:"l F dS, Y" }}</div>
				<div id="next_game_time">{{ next_game.league.times }}</div>
				<div id="next_game_field">
					@ {{ next_game.field_name.field.name }} {{ next_game.field_name.name }}
					<a href="{{ MEDIA_URL }}{{ next_game.field_name.field.layout_link }}">Field Layout</a>
				</div>
			</div>

			<table class="teams_table teams_table_game">
				{% for team in next_game.get_teams %}
					{% if forloop.counter0|divisibleby:"2" %}
						<tr>
					{% endif %}


					{% if not forloop.counter0|divisibleby:"2" %}
						<td class="divider">
							<h1>vs</h1>
						</td>
					{% endif %}

					<td class="team_container">
						<div class="team">
							<div class="team_info" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
								<div class="team_name" style="font-size: {{ team.name|get_team_name_font_size }}px;">
									{{ team.name }}
								</div>

								<div>
									<div class="pull_right">{{ team.color }}</div>
									{% if user.is_authenticated and team.email %}
										<div><a style="color: {{ team.css_text_color }}" href="mailto:{{ team.email }}" title="Email team list">Team {{ team.id }} (email)</a></div>
									{% else %}
										<div>Team {{ team.id }}</div>
									{% endif %}
								</div>
							</div>

							<div class="team_members">
								{% for team_member in team.get_members %}
									<div class="team_member">
										{% if team_member.captain %}
											<a href="mailto:{{ team_member.user.email }}"><span class="strong">
										{% endif %}

										{{ team_member.user.get_full_name }}

										{% if team_member.captain %}
											</span>
										{% endif %}

										<em>{{ team_member.user.get_profile.nickname }}</em>

										{% if team_member.captain %}
											</a>
										{% endif %}
									</div>
								{% endfor %}
							</div>

							{% if perms.junta %}
								<div class="team_counts text_center">
									<em>
										{{ team.get_members|length }} Player{{ team.get_members|length|pluralize }},
										{{ team.get_male_members|length }} Male{{ team.get_male_members|length|pluralize }},
										{{ team.get_female_members|length }} Female{{ team.get_female_members|length|pluralize }}
									</em>
								</div>
							{% endif %}
						</div>
					</td>

					{% if not forloop.counter0|divisibleby:"2" %}
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
	{% else %}
		<p class="none_found">No upcoming games found</p>
	{% endif %}

	{% if following_game %}
		<p id="following_game">
			The following game is on <strong>{{ following_game.date|date:"l F dS, Y" }}</strong> from <strong>{{ following_game.league.times }}</strong><br />
			@ <strong>{{ following_game.field_name.field.name }} {{ following_game.field_name.name }}</strong>
		</p>
	{% endif %}

	<h2>Profile</h2>
	<p>
		<a href="{% url editprofile %}">Edit Profile</a>
	</p>
	<p>
		<a href="{% url editskills %}">Edit Skills</a>
	</p>


	<h2>Registrations</h2>
	{% if registrations %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>League</th>
					<th colspan="2">Status</th>
					<th>Group</th>
				</tr>
			</thead>
			<tbody>
				{% for league in current_leagues %}
					{% for registration in league|league_registrations:user %}
						<tr>
							<td>
								<a href="{% url league_registration year=registration.league.year season=registration.league.season division=registration.league.night %}">
									{{ registration.league.season|capfirst }}
									{{ registration.league.year }}
									{{ registration.league.night|capfirst }}
								</a>
							</td>
							<td>{{ registration.get_progress }}%</td>
							<td>{{ registration.get_status }}</td>
							<td>
								{% for baggage_reg in registration.baggage.get_registrations %}
									<div>{{ baggage_reg.user.get_full_name }}</div>
								{% empty %}
									No group
								{% endfor %}

								{% if registration.is_complete and registration.league.baggage > 1 and not registration.league.freeze_group_date|is_past_deadline and not registration.waitlist %}
									<div><a href="{% url league_group year=league.year season=league.season division=league.night %}">Edit Group</a></div>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				{% endfor%}
			</tbody>
		</table>

		<p id="user_registrations_note">
			It can sometimes take a while for PayPal to confirm a payment. Try clicking reload after a few minutes have passed.<br />
			If you used the echeck feature of paypal it may take up to a week to clear.<br />
			If paying by check, the status will remain unconfirmed until your check is received and processed.<br />
		</p>
	{% else %}
		<p class="none_found">No registrations found</p>
	{% endif %}
{% endblock %}