{% extends "layout/layout_user.html" %}

{% load leagues %}
{% load league_registrations %}
{% load teams %}
{% load user_roles %}
{% load utility %}

{% block content %}
	{% include "layout/account_tabs.html" with selected_tab="user" %}

	{% if next_game and next_game.get_teams|length %}
		<div id="next_game">
			<div class="next_game_info">
				<p>Your Next Game Is On:</p>
				<div id="next_game_date">{{ next_game.date|date:"l F dS, Y" }}</div>
				<div id="next_game_time">{{ next_game.league.times }}</div>
				<div id="next_game_field">
					@ {{ next_game.field_name.field.name }} {{ next_game.field_name.name }}
					{% if next_game.field_name.field.layout_link %}
						<small>
							<a href="{{ MEDIA_URL }}{{ next_game.field_name.field.layout_link }}">
								Field Layout
							</a>
						</small>
					{% endif %}
				</div>
			</div>

			<table class="teams_table table-fixed">
				<tr>
					{% for team in next_game.get_teams %}
						<td class="team_container">
							<div class="team">
								<div class="team_info" style="background-color: {{ team.css_background_color }}; color: {{ team.css_text_color }}">
									<div class="team_name" style="font-size: {{ team.name|get_team_name_font_size }}px;">
										{{ team.name }}
									</div>

									<div>
										{% if user.is_authenticated and team.email %}
											<a class="pull_right" style="color: {{ team.css_text_color }}" href="mailto:{{ team.email }}" title="Email Team List">Email</a>
										{% endif %}

										<div>Team {{ team.id }}{% if team.color %} - {{ team.color }}{% endif %}</div>
									</div>
								</div>

								<ul class="team_members">
									{% for team_member in team.get_members %}
										<li class="team_member">
											{% if team_member.captain and user.is_authenticated and team_member.user.email %}
												<a class="pull_right" href="mailto:{{ team_member.user.email }}">Email</a>
											{% endif %}

											{% if team_member.captain %}
												<span class="strong">
											{% endif %}

											{{ team_member.user.get_full_name }}

											{% if team_member.captain %}
												</span>
											{% endif %}

											<em>{{ team_member.user.get_profile.nickname }}</em>
										</li>
									{% endfor %}
								</ul>

								{% if request.user|in_group:"junta" %}
									<div class="team_notes text_center">
										{{ team.get_members|length }} Player{{ team.get_members|length|pluralize }},
										{{ team.get_male_members|length }} Male{{ team.get_male_members|length|pluralize }},
										{{ team.get_female_members|length }} Female{{ team.get_female_members|length|pluralize }}
									</div>
								{% endif %}
							</div>
						</td>

						{% if forloop.counter|divisibleby:"2" %}
							</tr><tr>
						{% else %}
							<td class="divider text_center">
								<h1>vs</h1>
							</td>
						{% endif %}
					{% endfor %}
				</tr>
			</table>
		</div>
	{% else %}
		<h3 class="none_found">You have no upcoming games.</h3>
	{% endif %}

	{% if following_game and following_game.get_teams|length %}
		<p id="following_game">
			The following game is on <strong>{{ following_game.date|date:"l F dS, Y" }}</strong> from <strong>{{ following_game.league.times }}</strong><br />
			@ <strong>{{ following_game.field_name.field.name }} {{ following_game.field_name.name }}</strong>
		</p>
	{% endif %}

	<h2>Profile</h2>
	<p>
		<a href="{% url editprofile %}">Edit Profile</a>
	</p>
	<p>
		<a href="{% url editratings %}">Edit Ratings</a>
	</p>

	<h2>Registrations</h2>
	{% if registrations %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>League</th>
					<th colspan="2">Status</th>
					<th>Group</th>
				</tr>
			</thead>
			<tbody>
				{% for league in current_leagues %}
					{% for registration in league|league_registrations:user %}
						<tr>
							<td>
								<a href="{% url league_registration year=registration.league.year season=registration.league.season division=registration.league.night %}">
									{{ registration.league.season_title|smart_title }}
									{{ registration.league.year }}
									{{ registration.league.night|smart_title }}
								</a>
							</td>
							<td>{{ registration.progress }}%</td>
							<td>{{ registration.status }}</td>
							<td>
								{% for baggage_reg in registration.baggage.get_registrations %}
									<div>{{ baggage_reg.user.get_full_name }}</div>
								{% empty %}
									No group
								{% endfor %}

								{% if registration.is_complete and registration.league.baggage > 1 and not registration.waitlist and not registration.league.waitlist_start_date|is_past_deadline %}
									<div><a href="{% url league_group year=league.year season=league.season division=league.night %}">Edit Group</a></div>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				{% endfor%}
			</tbody>
		</table>

		<p id="user_registrations_note">
			PayPaly payments occasionally take some time to clear. Try reloading after a few minutes have passed.
			<br />
			If you used the echeck feature of paypal it may take up to a week to clear.
			<br />
			If paying by check, the status will remain unconfirmed until your check is received and processed.
		</p>
	{% else %}
		<p class="none_found">No registrations found</p>
	{% endif %}
{% endblock %}