{% load league_registrations %}
{% load math %}

{% with registration.progress as registration_progress %}
<div class="progress-bar progress-bar-labeled">
  <div class="progress-bar-progress progress-bar-progress-success" style="width: {{ registration_progress|add:tick_percentage|limit_ceil:'100' }}%;"></div>

  <div class="progress-bar-tick progress-bar-tick-{{ tick_percentage|multiply_by:'1'|get_registration_tick_color:registration }}{% if section == 'conduct' %} progress-bar-tick-active{% endif %}" style="left: {{ tick_percentage|multiply_by:'1' }}%;"></div>
  <div class="progress-bar-tick progress-bar-tick-{{ tick_percentage|multiply_by:'2'|get_registration_tick_color:registration }}{% if section == 'waiver' %} progress-bar-tick-active{% endif %}" style="left: {{ tick_percentage|multiply_by:'2' }}%;"></div>
  <div class="progress-bar-tick progress-bar-tick-{{ tick_percentage|multiply_by:'3'|get_registration_tick_color:registration }}{% if section == 'attendance' %} progress-bar-tick-active{% endif %}" style="left: {{ tick_percentage|multiply_by:'3' }}%;"></div>
  {% if league.check_price > 0 and league.paypal_price > 0 and league.checks_accepted %}
    <div class="progress-bar-tick progress-bar-tick-{{ tick_percentage|multiply_by:'4'|get_registration_tick_color:registration }}{% if section == 'pay_type' %} progress-bar-tick-active{% endif %}" style="left: {{ tick_percentage|multiply_by:'4' }}%;"></div>
    <div class="progress-bar-tick progress-bar-tick-{{ tick_percentage|multiply_by:'5'|get_registration_tick_color:registration }}{% if section == 'status' %} progress-bar-tick-active{% endif %}" style="left: {{ tick_percentage|multiply_by:'5' }}%;"></div>
  {% else %}
    <div class="progress-bar-tick progress-bar-tick-{{ tick_percentage|multiply_by:'4'|get_registration_tick_color:registration }}{% if section == 'status' %} progress-bar-tick-active{% endif %}" style="left: {{ tick_percentage|multiply_by:'4' }}%;"></div>
  {% endif %}

  {% if registration_progress >= tick_percentage|multiply_by:'0' %}
    <a class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'1' }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='conduct' %}">Code of Conduct</a>
  {% else %}
    <span class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'1' }}%">Code of Conduct</span>
  {% endif %}

  {% if registration_progress >= tick_percentage|multiply_by:'1' %}
    <a class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'2' }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='waiver' %}">Waiver</a>
  {% else %}
    <span class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'2' }}%">Waiver</span>
  {% endif %}

  {% if registration_progress >= tick_percentage|multiply_by:'2' %}
    <a class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'3' }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='attendance' %}">Attendance</a>
  {% else %}
    <span class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'3' }}%">Attendance</span>
  {% endif %}

  {% if league.check_price > 0 and league.paypal_price > 0 and league.checks_accepted %}

    {% if registration_progress >= tick_percentage|multiply_by:'3' %}
      <a class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'4' }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='pay_type' %}">Payment Type</a>
    {% else %}
      <span class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'4' }}%">Payment Type</span>
    {% endif %}

    {% if registration_progress >= tick_percentage|multiply_by:'4' %}
      <a class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'5' }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='status' %}">Status</a>
    {% else %}
      <span class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'5' }}%">Status</span>
    {% endif %}

  {% else %}

    {% if registration_progress >= tick_percentage|multiply_by:'3' %}
      <a class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'4' }}%" href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='status' %}">Status</a>
    {% else %}
      <span class="progress-bar-tick-label" style="left: {{ tick_percentage|multiply_by:'4' }}%">Status</span>
    {% endif %}

  {% endif %}

</div>
{% endwith %}
