{% extends 'layout/layout_user.html' %}

{% load i18n %}
{% load leagues %}
{% load utility %}

{% block title %}Registration &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} {{ league.night_title|smart_title }} Division Registration{% endblock %}

{% block content %}

  {% include '_partials/division_header.html' with league=league only %}

  {% include '_partials/league_tabs.html' with selected_tab='registration' %}

  <h2>Registration Error</h2>

  {% if 'age' in errors %}
    <p class="message message-danger">
      {% trans 'This division requires the age of players be at least' %} <strong>{{ league.min_age }}</strong> years old by the start date ({{ league.league_start_date|date:'l, F jS' }}). {% trans 'Please <a href="mailto:registration@annarborultimate.org">email us at registration@annarborultimate.org</a> if you have any questions.' %}
    </p>
  {% endif %}

  {% if 'closed' in errors %}
    <p class="message message-danger">
      {% trans 'This division is not currently open for registration. Either it is no longer accepting registrations (e.g. the division is completed), or division has not yet opened for registration.' %}
    </p>
  {% endif %}

  {% if 'profile' in errors %}
    <div class="message message-danger">
      <p>
        {% trans 'You are required to complete your profile information before registering for a division.' %}
        {% trans 'This gives us a better picture of you as a player and helps us generate balanced teams.' %}
      </p>
      <a class="button button-small button-primary" href="{% url 'editprofile' %}">{% trans 'Complete Your Player Ratings' %} &rarr;</a>
    </div>
  {% endif %}

  {% if 'rating' in errors %}
    <div class="message message-danger">
      <p>
        {% trans 'You are required to self-assess your ability before registering for a division.' %}
        {% trans 'This gives us a better picture of you as a player and helps us generate balanced teams.' %}
      </p>
      <a class="button button-small button-primary" href="{% url 'editratings' %}">{% trans 'Complete Your Player Ratings' %} &rarr;</a>
    </div>
  {% endif %}

  {% if 'rating_expired' in errors %}
    <div class="message message-danger">
      <p>
        {% trans 'You are required to update your player ratings every ' %}{% settings_value 'A2U_RATING_EXPIRATION_MONTHS' %}{% trans ' months.' %}
        {% trans 'This gives us a better picture of you as a player and helps us generate balanced teams.' %}
      </p>
      <a class="button button-small button-primary" href="{% url 'editratings' %}">{% trans 'Update Your Player Ratings' %} &rarr;</a>
    </div>
  {% endif %}

  {% if 'unknown' in errors %}
    <p class="message message-danger">
      {% trans 'You are currently not eligible to register for this division. Please ensure your profile is updated and you have filled out the player rating form. If that does not help, ' %}
      <a href="mailto:registration@annarborultimate.org">email us at registration@annarborultimate.org</a>.
    </p>
  {% endif %}

{% endblock %}
