{% extends 'layout/layout_user.html' %}

{% load leagues %}
{% load utility %}

{% block title %}Registration &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} {{ league.night_title|smart_title }} Division Registration{% endblock %}
{% block content %}

  {% include '_partials/division_header.html' with league=league only %}

  {% include '_partials/league_tabs.html' with selected_tab='registration' %}

  {% include 'leagues/registration/_progress.html' with league=league registration=registration section=section tick_percentage=tick_percentage only %}

  <h2>Registration Status</h2>

  {% if registration.is_complete %}
    {% if not registration.waitlist %}
      <div class="message message-success">
        Your registration is <strong>complete</strong>.
      </div>

      <h3>What's Next?</h3>
      {% if league.type == 'league' %}
        <p>
          You will be added to a team, a schedule will be generated, and you will then receive a welcome email.
          This happens at least 48 hours before the first game.
          If you have any questions, please <a href="mailto:registration@annarborultimate.org">email us at registration@annarborultimate.org</a>.
        </p>
      {% else %}
        <p>
          Teams and schedules will be created and will either be added to the website or assigned in person at the field site.
          If you have any questions, please <a href="mailto:registration@annarborultimate.org">email us at registration@annarborultimate.org</a>.
        </p>
      {% endif %}


      {% if league.baggage > 1 and not league.is_after_group_lock_start %}
        <hr>

        <h3>Form a Group</h3>
        <p>
          The deadline for group changes is <strong>{{ league.group_lock_start_date|date:'l, F jS' }} at {{ league.group_lock_start_date|date:'g:iA'|lower }}</strong>.
          This division allows groups of up to <strong>{{ league.baggage }}</strong> (including you).
        </p>
        <p>
          <a class="button button-info button-small" href="{% url 'league_group' year=league.year season=league.season.slug division=league.night_slug  %}">
            Form a Group
          </a>
        </p>
      {% endif %}
    {% else %}
      <div class="message message-caution">
        Your registration is <strong>complete</strong>, but you are currently on the <strong>waitlist</strong>.
      </div>

      <p>
        {% if registration.waitlist %}
          <p>
            Waitlisted players are generally added to a team when one of the following conditions is met:
          </p>
          <ul>
            <li>The division has not reached the player cap</li>
            <li>The division expands to accomodate more players</li>
            <li>A player has dropped from a team</li>
            <li>A team is having attendance issues and needs another player</li>
          </ul>
          <p>
            To check on the status of your registration, please <a href="mailto:registration@annarborultimate.org">email us at registration@annarborultimate.org</a>.
          </p>
        {% endif %}
      </p>
    {% endif %}
  {% elif registration.is_refunded %}
    <div class="message message-warning">
      Your registration has been <strong>refunded</strong>.
    </div>

    <p>
      For PayPal, please allow up to a week for the refund process to complete. For check,
      we will issue a refund as soon as possible, but please allow up to two weeks.
    </p>

    <p>
      If your wait time exceeds this, please
      <a href="mailto:registration@annarborultimate.org">email registration@annarborultimate.org</a>.
    </p>
  {% else %}
    <div class="message message-danger">
      Your registration is <strong>not complete</strong>. You must complete the payment process.
    </div>

    {% if league|is_waitlisting_registrations:user %}
      <div class="message message-small message-caution">
        Note: This division is currently either at capacity or the waitlist deadline has passed.
        Upon completion of of your registration, you will be placed on the waitlist.
      </div>
    {% endif %}

    {% if league.coupons_accepted %}
      {% if registration.coupon %}
        <div class="message">
          <form method="post">{% csrf_token %}
            <p>
              {% if coupon_is_valid %}
                You have entered a coupon code
                "<strong>{{ registration.coupon.code }}</strong>"
                good for <em>{{ registration.coupon.display_value }}</em>.
              {% else %}
                The coupon code you have attached to your registration,
                "<strong>{{ registration.coupon.code }}</strong>",
                is no longer valid. The code could be expired or past its use limit.
              {% endif %}
            </p>
            <button class="button button-info" name="remove_coupon" type="submit">
              Remove It?
            </button>
          </form>
        </div>
      {% else %}
        <div class="message">
          <form method="post">{% csrf_token %}
            <h4><label for="coupon-code-input">Do you have a coupon code?</label></h4>
            <input name="coupon_code" id="coupon-code-input" type="text">
            <button class="button button-success" type="submit">
              Submit
            </button>
          </form>
        </div>
      {% endif %}
    {% endif %}

    {% if registration.paypal_price > 0 or registration.check_price > 0 %}
      {% if registration.pay_type == 'check' %}
        <p>
          You're currently set to pay by check. Please send a check for
          <strong>${{ registration.check_price }}</strong> to:
        </p>

        {{ league.mail_check_address|safe }}

        <div class="message message-small message-info">
          Your registration will be marked complete when the check is received.
        </div>
      {% else %}
        <p>
          Click the "<em>Checkout using PayPal</em>" button to pay
          <strong>${{ registration.paypal_price }}</strong>.
        </p>

        <p>
          You will be taken to PayPal's website to pay and redirected
          back to the Ann Arbor Ultimate website afterward.
        </p>

        <p>
          {{ paypal_form.render }}
        </p>

        <p>
          If you have already submitted a payment via PayPal, please be patient. It can take
          up to 24 hours for a regular payment to process and up to 3-6 business days for
          an eCheck to clear. If those time ranges have elapsed, please email
          <a href="mailto:registration@annarborultimate.org">registration@annarborultimate.org</a>.
        </p>
      {% endif %}

      {% if league.checks_accepted %}
        <p>
          If you no longer wish to pay via {% if registration.pay_type != 'check' %}PayPal{% else %}check{% endif %}, you can
          <a href="{% url 'league_registration_section' year=league.year season=league.season.slug division=league.night_slug section='pay_type' %}">
            change your payment type</a>.
        </p>
      {% endif %}
    {% else %}
      <p>
        No payment is needed, please click the "Process Registration" button to complete your registration.
      </p>

      <form class="form" method="post">{% csrf_token %}
        <button class="button button-success" name="process_registration" type="submit">Process Registration</button>
      </form>
    {% endif %}
  {% endif %}

  {% if not registration.is_refunded %}
    <hr>
    <p>
      Your attendance response indicates you will miss <strong>{{ registration.attendance }}</strong> out of <strong>{{ league.get_num_game_events }}</strong> games.
    </p>

    {% if league.type == 'league' %}
      <p>
        {% if registration.captain >= 0 %}
          Your captaining response is "<strong>{{ registration.get_captain_display }}</strong>"
        {% else %}
          You have not submitted a captain response.
        {% endif %}
      </p>
    {% endif %}

    <p>
      At any time, you can
      <a href="{% url 'league_registration_section' year=league.year season=league.season.slug division=league.night_slug section='attendance' %}">
        change your attendance{% if league.type == 'league' %} or captaining{% endif %} rating</a>.
    </p>
  {% endif %}

{% endblock %}
