{% extends "layout/layout_user.html" %}

{% load leagues %}
{% load utility %}

{% block content %}

	{% include "layout/league_header.html" with league=league only %}

	{% include "layout/league_tabs.html" with selected_tab="registration" %}

	{% include "leagues/registration/_progress.html" with league=league registration=registration section=section tick_percentage=tick_percentage only %}

	<h2>Registration Status</h2>

	{% if registration.is_complete %}
		<h3>
			Your registration is <strong class="text_success">complete</strong>.

			{% if registration.waitlist %}
				However, you are on the <strong class="text_warning">waitlist</strong>.
			{% elif league.baggage > 1 and not league.waitlist_start_date|is_past_deadline %}
				You may <a href="{% url 'league_group' year=league.year season=league.season division=league.night  %}">form a baggage group here</a>.
			{% endif %}
		</h3>
	{% elif registration.is_refunded %}
		<h3>
			Your registration has been <strong class="text_error">refunded</strong>.
		</h3>

		<p>
			For PayPal, please allow up to a week for the refund process to complete. For check,
			we will issue a refund as soon as possible, but please allow up to two weeks.
		</p>

		<p>
			If your wait time exceeds this, please
			<a href="mailto:registration@annarborultimate.org">registration@annarborultimate.org</a>.
		</p>
	{% else %}
		<h3>
			Your registration is <strong class="text_error">not complete</strong>.
		</h3>

		{% if league.is_waitlist %}
			<p>
				<strong>Note:</strong>
				This league is currently either at capacity the waitlist deadline has passed.
				By completing your registration, you will be placed on the waitlist.
			</p>
		{% endif %}
	{% endif %}

	{% if not registration.is_refunded %}
		<hr />
		<p>
			Your attendance response indicates you will miss <strong>{{ registration.attendance }}</strong> out of <strong>{{ league.get_num_game_events }}</strong> games.
		</p>

		<p>
			{% if registration.captain >= 0 %}
				Your captaining response is <strong>"{{ registration.get_captain_display }}"</strong>
			{% else %}
				You have not submitted a captain response.
			{% endif %}
		</p>

		<p>
			At any time, you can
			<a href="{% url 'league_registration_section' year=league.year season=league.season division=league.night section='attendance' %}">
				change your attendance or captaining rating
			</a>.
		</p>

		<hr />

		{% if not registration.is_complete %}
			{% if league.paypal_price > 0 or league.check_price > 0 %}
				{% if registration.coupon %}
					<form method="post">{% csrf_token %}
						<p>
							You have entered a coupon code
							<strong>{{ registration.coupon.code }}</strong>
							good for <em>{{ registration.coupon.display_value }}</em>.

							<button class="button button_info" name="remove_coupon" type="submit">
								Remove It?
							</button>
						</p>
					</form>
				{% else %}
					<p>Do you have a coupon code?</p>
					<form method="post">{% csrf_token %}
						<input name="coupon_code" type="text">
						<button class="button button_success" type="submit">
							Submit
						</button>
					</form>
				{% endif %}

				{% if registration.pay_type != 'check' %}
					{% if registration.paypal_price > 0 %}
						{% if not registration.paypal_complete %}
							<p>
								Click the "<em>Checkout using PayPal</em>" button to pay
								<strong>${{ registration.paypal_price }}</strong>.
							</p>

							<p>
								You will be taken to PayPal's website to pay and redirected
								back to the Ann Arbor Ultimate website afterward.
							</p>

							<p>
								{{ paypal_form.render }}
							</p>
						{% endif %}

						<p>
							If you have already submitted a payment via PayPal, please be patient.<br />
							It can take up to 24 hours to show as completed.
						</p>

						<p>
							If has already been 24 hours, please email
							<a href="mailto:registration@annarborultimate.org">registration@annarborultimate.org</a>.
						</p>
					{% else %}
						<form method="post">{% csrf_token %}
							<button class="button button_success" name="process_registration" type="submit">Process Registration</button>
						</form>
					{% endif %}
				{% else %}
					<p>
						You're currently set to pay by check. You may send a check for
						<strong>${{ registration.check_price }}</strong> to:
					</p>

					{{ league.mail_check_address|safe }}
				{% endif %}

				<form method="post">{% csrf_token %}
					{% if registration.check_price > 0 and registration.pay_type != 'check' and league.checks_accepted %}
						<button class="button button_info" name="pay_type" value="paypal" type="submit">Switch Payment Type to PayPal</button>
					{% endif %}
					{% if registration.paypal_price > 0 and registration.pay_type != 'paypal' %}
						<button class="button button_info" name="pay_type" value="check" type="submit">Switch Payment Type to Check</button>
					{% endif %}
				</form>
			{% endif %}
		{% endif %}
	{% endif %}

{% endblock %}
