{% extends 'layout/layout_user.html' %}

{% load utility %}

{% block title %}Registration &middot; {{ league.night_title|smart_title }} &middot; {{ league.season_title|smart_title }} {{ league.year }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ block.super }} {{ league.year }} {{ league.season_title|smart_title }} {{ league.night_title|smart_title }} Division Registration{% endblock %}
{% block content %}

  {% include '_partials/division_header.html' with league=league only %}

  {% include '_partials/league_tabs.html' with selected_tab='registration' %}

  {% include 'leagues/registration/_progress.html' with league=league registration=registration section=section tick_percentage=tick_percentage only %}

  <h2>Waiver / Release</h2>

  <p>I understand that Ultimate and other flying disc sports are strenuous physical activities which may put me at risk of bodily injury or harm.</p>
  <p>I hearby release the Ann Arbor Ultimate Summer League and its members and officers from any and all liability for any injury I may sustain while participating in or observing any AAUSL event or activity.</p>
  <p>If I am under 18 years of age, I certify that my parent/legal guardian has read and accepted this waiver.</p>

  <form class="form" method="post">{% csrf_token %}
    <input class="button button-success" type="submit" value="Accept" name="waiver_accept" />
    <input class="button button-danger" type="submit" value="Decline" name="waiver_decline" />
  </form>

{% endblock %}
