{% extends "layout/layout_user.html" %}

{% load games %}
{% load leagues %}
{% load utility %}

{% block content %}

	{% include "_partials/account_tabs.html" with selected_tab="junta" %}

	{% if leagues %}
		<h1>Captain Status</h1>

		{% include "_partials/league_list.html" with leagues=leagues link_view="captainstatus_league" only %}
	{% else %}
		{% include "_partials/division_header.html" with league=league header="Captain Status" only %}

		<table class="table table-centered table-striped">
			<thead>
				<tr>
					<th></th>
					{% regroup league.get_games by date as games %}
					{% for game_date in games %}
						<th>{{ game_date.grouper|date:"m/d" }}</th>
					{% endfor %}
					<th>Total</th>
					<th>Survey</th>
				</tr>
			</thead>
			{% for captain in league|get_league_captains_teammember %}
				{% ifchanged captain.team %}{% if not forloop.first %}</tbody>{% endif %}{% endifchanged %}
				{% ifchanged captain.team %}<tbody>{% endifchanged %}
					<tr>
						<th>
							{{ captain.user.get_full_name }}
						</th>
						{% for game in league|get_user_games:captain.user %}
							<td>
								{% if game|report_complete_for_user:captain.user %}
									<span class="status-dot status-dot-success" title="Score report submitted"></span>
								{% else %}
									<span class="status-dot status-dot-error" title="No score report submitted"></span>
								{% endif %}
							</td>
						{% endfor %}
						<td>{{ league|get_num_reports_for_user:captain.user }}</td>
						<td>
							{% if league|get_player_survey_status:captain.user %}
								<span class="status-dot status-dot-success" title="Player survey submitted"></span>
							{% else %}
								<span class="status-dot status-dot-error" title="No player survey submitted"></span>
							{% endif %}
						</td>
					</tr>
				{% if forloop.last %}</tbody>{% endif %}
			{% endfor %}
		</table>
	{% endif %}

{% endblock %}
