{% extends 'layout/layout_user.html' %}

{% load games %}
{% load leagues %}
{% load math %}
{% load staticfiles %}
{% load utility %}

{% block title %}Game Reports &middot; Junta Resources &middot; {{ block.super }}{% endblock %}

{% block content %}

  {% include '_partials/account_tabs.html' with selected_tab='junta' %}

  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb">
        <a href="{% url 'junta' %}">Junta Resources</a>
      </li>
      <li class="breadcrumb">
        <a href="{% url 'gamereports' %}">Game Reports</a>
      </li>
      {% if league %}
      <li class="breadcrumb">
        <a href="{% url 'gamereports_league' year=league.year season=league.season.slug division=league.night_slug %}">{{ league.season_title|smart_title }} {{ league.year }} {{ league.night|smart_title }}</a>
      </li>
      {% endif %}
      {% if game %}
      <li class="breadcrumb">
        {{ game.date|date:'M d' }}
      </li>
      {% endif %}
      {% if team %}
      <li class="breadcrumb">
        Team {{ team.id }}
      </li>
      {% endif %}
    </ul>
  </div>

  {% if leagues %}
    <h1>Game Reports</h1>

    {% include '_partials/league_list.html' with leagues=leagues link_view='gamereports_league' only %}

  {% elif league and game and team %}
    <h1>{% include '_partials/division_header.html' with league=league header='Game Reports' only %}</h1>

    {% for game_report in game_reports %}
      <h2>Attendance for Team {{ team.id }}</h2>
      <dl>
        <dt>Players</dt>
        <dd>{{ game_report.num_players_in_attendance }}</dd>
        <dt>Females</dt>
        <dd>{{ game_report.num_females_in_attendance }}</dd>
        <dt>Males</dt>
        <dd>{{ game_report.num_males_in_attendance }}</dd>
      </dl>

      <h2>Game Report Comments for Team {{ team.id }}</h2>

      {% for game_report_comment in game_report.gamereportcomment_set.all %}
        <dl>
          <dt>Submitter</dt>
          <dd>
            {{ game_report_comment.submitted_by.get_full_name }}
          </dd>
          <dt>Spirit</dt>
          <dd>{{ game_report_comment.spirit }}</dd>
          <dt>Comment</dt>
          <dd>{{ game_report_comment.comment|default:'<em>None</em>' }}</dd>
        </dl>

        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}

    {% empty %}
      <div class="message">
        No game reports were found.
      </div>
    {% endfor %}

  {% else %}
    <h1>{% include '_partials/division_header.html' with league=league header='Game Reports' only %}</h1>

    {% if game_dates|length %}
      {% include '_partials/table_schedule_league.html' with league=league game_locations=game_locations game_dates=game_dates user_games=user_games next_game_date=next_game_date link_game_report=1 show_teams=1 only %}

      <table class="table table-centered table-striped">
        <thead>
          <tr>
            <th>Team Number</th>
            <th>Spirit</th>
            <th>Avg Players</th>
            <th>Avg Females</th>
            <th>Avg Males</th>
          </tr>
        </thead>
        <tbody>
          {% for team_id, data in team_data.items %}
            <tr>
              <td>{{ team_id }}</td>
              <td>{{ data.spirit_values|average_list|floatformat:1 }}</td>
              <td>{{ data.attendance_values_player|average_list|floatformat:1 }} of {{ data.player_count }}</td>
              <td>{{ data.attendance_values_female|average_list|floatformat:1 }} of {{ data.female_count }}</td>
              <td>{{ data.attendance_values_male|average_list|floatformat:1 }} of {{ data.male_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <form class="form" method="post">{% csrf_token %}
        <input class="button button-success" type="submit" name="export" value="Export All">
      </form>
    {% else %}
      <h4>
        Schedules are not yet available
      </h4>
    {% endif %}

  {% endif %}

{% endblock %}
