{% extends "layout/layout_user.html" %}

{% block content %}
  {% include "layout/account_tabs.html" with selected_tab="junta" %}

  <ul class="selection-list">
    <li class="selection-list-item">
      <a class="selection-list-item-link" href="{% url 'captainstatus' %}">
        Captain Status
      </a>
    </li>
    <li class="selection-list-item">
      <a class="selection-list-item-link" href="{% url 'gamereports' %}">
        Game Reports
      </a>
    </li>
    <li class="selection-list-item">
      <a class="selection-list-item-link" href="{% url 'leagueresults' %}">
        League Results
      </a>
    </li>
    <li class="selection-list-item">
      <a class="selection-list-item-link" href="{% url 'registrationexport' %}">
        Registration Export
      </a>
    </li>
    {% if request.user.is_superuser %}
      <li class="selection-list-item">
        <a class="selection-list-item-link" href="{% url 'teamgeneration' %}">
          Team Generation
        </a>
      </li>
      <li class="selection-list-item">
        <a class="selection-list-item-link" href="{% url 'schedulegeneration' %}">
          Schedule Generation
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}
