{% extends 'layout/layout_user.html' %}

{% load games %}
{% load leagues %}
{% load math %}
{% load staticfiles %}
{% load utility %}

{% block title %}League Results &middot; Junta Resources &middot; {{ block.super }}{% endblock %}

{% block content %}
	{% include '_partials/account_tabs.html' with selected_tab='junta' %}

  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb">
        <a href="{% url 'junta' %}">Junta Resources</a>
      </li>
      <li class="breadcrumb">
        <a href="{% url 'leagueresults' %}">League Results</a>
      </li>
      {% if league %}
      <li class="breadcrumb">
        <a href="{% url 'leagueresults_league' year=league.year season=league.season division=league.night %}">{{ league.season_title|smart_title }} {{ league.year }} {{ league.night|smart_title }}</a>
      </li>
      {% endif %}
    </ul>
  </div>

	{% if leagues %}
		<h1>League Results</h1>

		{% include '_partials/league_list.html' with leagues=leagues link_view='leagueresults_league' only %}
	{% else %}

		<h1>{% include '_partials/division_header.html' with league=league header='Results' only %}</h1>

    {% if game_dates|length %}
      {% include '_partials/schedule_table.html' with league=league game_locations=game_locations game_dates=game_dates user_games=user_games next_game_date=next_game_date show_game_result=1 only %}

      <p>
        <a href="{% url 'league_teams' year=league.year season=league.season division=league.night %}">Go to Teams and Schedules</a>
      </p>
    {% else %}
      <h4>
        Schedules are not yet available
      </h4>
    {% endif %}

		{% if team_records|length %}
			<table class="table table-centered table-striped">
				<thead>
					<tr>
						<th>Team Number</th>
						<th>Wins</th>
						<th>Losses</th>
						<th>Ties</th>
						<th>Conflicts</th>
						<th>Blanks</th>
						<th>Points For</th>
						<th>Points Against</th>
						<th>Point Differential</th>
					</tr>
				</thead>
				<tbody>
					{% for team_id, team_record in team_records.items %}
						<tr>
							<td>{{ team_id }}</td>
							<td>{{ team_record.wins }}</td>
							<td>{{ team_record.losses }}</td>
							<td>{{ team_record.ties }}</td>
							<td>{{ team_record.conflicts }}</td>
							<td>{{ team_record.blanks }}</td>
							<td>{{ team_record.points_for }}</td>
							<td>{{ team_record.points_against }}</td>
							<td>{{ team_record.points_for|subtract:team_record.points_against }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	{% endif %}
{% endblock %}
