{% extends 'layout/layout_user.html' %}

{% load games %}
{% load leagues %}
{% load utility %}

{% block title %}Registration Export &middot; Junta Resources &middot; {{ block.super }}{% endblock %}

{% block content %}
<div class="page-registration-export">
  {% include '_partials/account_tabs.html' with selected_tab='junta' %}

  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb">
        <a href="{% url 'junta' %}">Junta Resources</a>
      </li>
      <li class="breadcrumb">
        <a href="{% url 'registrationexport' %}">Registation Export</a>
      </li>
    </ul>
  </div>

  <h1 class="page-registration-export-header">Registration Export</h1>

  <div class="page-registration-export-section">
    <h2 class="page-registration-export-section-header">By Division</h2>

    <form class="form" method="post">{% csrf_token %}
      <p>
        <select name="league_id">
          <option>Select a Division</option>

          {% for league in leagues %}
            <option value="{{ league.id }}">{{ league }}</option>
          {% endfor %}
        </select>
      </p>

      <input class="button button-info" type="submit" name="export_league" value="Export Registrations For Division">
    </form>
  </div>

  <div class="page-registration-export-section">
    <h2 class="page-registration-export-section-header">By Year</h2>

    <form class="form" method="post">{% csrf_token %}
      <p>
        <select name="year">
          <option>Select a Year</option>

          {% regroup leagues by year as years %}

          {% for year in years %}
            <option value="{{ year.grouper }}">{{ year.grouper }}</option>
          {% endfor %}
        </select>
      </p>

      <input class="button button-info" type="submit" name="export_year" value="Export Registrations For Year">
    </form>
  </div>
</div>
{% endblock %}
