{% extends 'layout/layout_user.html' %}

{% load games %}
{% load leagues %}
{% load staticfiles %}
{% load utility %}

{% block title %}Schedule Generation | Junta Resources | {{ block.super }}{% endblock %}

{% block content %}

  {% include '_partials/account_tabs.html' with selected_tab='junta' %}

  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb">
        <a href="{% url 'junta' %}">Junta Resources</a>
      </li>
      <li class="breadcrumb">
        <a href="{% url 'schedulegeneration' %}">Schedule Generation</a>
      </li>
      {% if league %}
      <li class="breadcrumb">
        <a href="{% url 'schedulegeneration_league' year=league.year season=league.season division=league.night %}">{{ league.season_title|smart_title }} {{ league.year }} {{ league.night|smart_title }}</a>
      </li>
      {% endif %}
    </ul>
  </div>

  {% if leagues %}
    <h1>Schedule Generation</h1>

    {% include '_partials/league_list.html' with leagues=leagues link_view='schedulegeneration_league' only %}
  {% else %}
    <h1>{% include '_partials/division_header.html' with league=league header='Schedule Generation' only %}</h1>

    {% if game_locations|length %}
      {% include '_partials/schedule_table.html' with league=league columns=game_locations game_dates=game_dates only %}
    {% else %}
      <table class="table table-centered table-striped">
        <tbody>
          {% for event in schedule %}
            <tr>
              {% for team in event %}
                {% if forloop.counter0|divisibleby:'2' %}
                  <td>
                {% endif %}

                <div>{{ team.id }}</div>

                {% if not forloop.counter0|divisibleby:'2' %}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}


    {% for field in league.get_fields %}
      {% if field.field.layout_link %}
        <a href="{% static field.field.layout_link %}" target="_blank">
          <img src="{% static field.field.layout_link %}" height="300px">
        </a>
      {% endif %}
    {% endfor %}

    <p>
      There {{ league.num_time_slots|pluralize:'is,are' }} {{ league.num_time_slots }} time slot{{ league.num_time_slots|pluralize }}, so you will have to
      choose at least {{ num_necessary_fields }} field{{ num_necessary_fields|pluralize }} to play on. You may add
      exceptions and make changes in the admin interface after the schedule
      is created.
    </p>

    <form class="form" method="post">{% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      <div class="schedule-generation-page-form-fields">
        <div class="schedule-generation-page-form-fields-input">
          {{ form.field_names }}

          <div class="form-field-input-errors">
            <ul class="form-field-input-errors-list">
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="schedule-generation-page-form-fields-help">
          {{ form.field_names.help_text }}
        </div>
      </div>

      <input class="button button-success" type="submit" name="generate_schedule" value="Generate Schedule">
      <input class="button button-danger" type="submit" name="clear_schedule" value="Clear Schedule">
      <a class="button button-link" href="{% url 'schedulegeneration'  %}">Cancel</a>
    </form>
  {% endif %}
{% endblock %}
