{% extends 'layout/layout_user.html' %}

{% load games %}
{% load leagues %}
{% load math %}
{% load user_roles %}
{% load utility %}

{% block title %}Team Generation &middot; Junta Resources &middot; {{ block.super }}{% endblock %}

{% block content %}

  {% include '_partials/account_tabs.html' with selected_tab='junta' %}

  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb">
        <a href="{% url 'junta' %}">Junta Resources</a>
      </li>
      <li class="breadcrumb">
        <a href="{% url 'teamgeneration' %}">Team Generation</a>
      </li>
      {% if league %}
      <li class="breadcrumb">
        <a href="{% url 'teamgeneration_league' year=league.year season=league.season.slug division=league.night_slug %}">{{ league.season_title|smart_title }} {{ league.year }} {{ league.night|smart_title }}</a>
      </li>
      {% endif %}
    </ul>
  </div>

  {% if leagues %}
    <h1>Team Generation</h1>

    {% include '_partials/league_list.html' with leagues=leagues link_view='teamgeneration_league' only %}
  {% else %}
    <h1>{% include '_partials/division_header.html' with league=league header='Team Generation' only %}</h1>

    <form class="form" method="post">{% csrf_token %}
      {% if teams %}
        <table id="team-stats-table" class="table table-striped">
          <thead>
            <th></th>
            <th>Rating Total</th>
            <th>Rating Average</th>
            <th>Players</th>
            <th>Females</th>
            <th>Males</th>
            <th>Absence Total</th>
            <th>Absence Average</th>
          </thead>
          <tbody>
            {% for team in teams %}
              <tr class="team-stats-{{ team.id }}">
                <th>Team {{ team.id }}</td>
                <td class="team-rating-total">{{ team.rating_total|floatformat:2 }}</td>
                <td class="team-rating-average">{{ team.rating_average|floatformat:2 }}</td>
                <td class="team-size">{{ team.teammember_set.all|length }}</td>
                <td class="team-size-female">{{ team.get_female_members|length }}</td>
                <td class="team-size-male">{{ team.get_male_members|length }}</td>
                <td class="team-attendance-total">{{ team.attendance_total|floatformat:2 }}</td>
                <td class="team-attendance-average">{{ team.attendance_average|floatformat:2 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <table class="table table-condensed table-striped">
          {% for team in teams %}
            <thead>
              <tr class="team-stats-{{ team.id }}">
                <th rowspan="2">Team {{ team.id }}</th>
                <th>Rating Average</th>
                <th>Rating Total</th>
                <th>Players</th>
                <th>Females</th>
                <th>Males</th>
                <th>Absence Total</th>
                <th>Absence Average</th>
              </tr>
              <tr class="team-stats-{{ team.id }}">
                <td class="team-rating-average">{{ team.rating_average|floatformat:2 }}</td>
                <td class="team-rating-total">{{ team.rating_total|floatformat:2 }}</td>
                <td class="team-size">{{ team.teammember_set.all|length }}</td>
                <td class="team-size-female">{{ team.get_female_members|length }}</td>
                <td class="team-size-male">{{ team.get_male_members|length }}</td>
                <td class="team-attendance-total">{{ team.attendance_total|floatformat:2 }}</td>
                <td class="team-attendance-average">{{ team.attendance_average|floatformat:2 }}</td>
                <td></td>
              </tr>
            </thead>
            <tbody id="team-{{ team.id }}" class="sortable-table sortable-table-connected">
              {% regroup team.get_members_with_baggage by baggage_id as baggage_list %}

              {% for baggage_group in baggage_list %}
                {% for team_member in baggage_group.list %}
                  <tr class="team-member" data-baggage-id="{{ baggage_group.grouper }}" data-gender="{{ team_member.user.profile.gender }}" data-rating-total="{{ team_member.user.rating_total|floatformat:2 }}" data-attendance-total="{{ team_member.attendance_total|floatformat:2 }}">
                    <td>
                      <input class="team-member-input" name="team_member_{{ team.id }}" value="{{ team_member.user.id }}" type="hidden" />
                      <label>
                        <input class="team-member-captain-input" name="team_member_captain_{{ team.id }}" {% if team_member.captain %}checked="checked"{% endif %} value="{{ team_member.user.id }}" type="checkbox" />
                        {{ team_member.user.get_full_name }}
                      </label>
                    </td>
                    <td></td>
                    <td>{{ team_member.user.rating_total|floatformat:2 }}</td>
                    <td>1</td>
                    <td>{% if team_member.user.profile.gender == 'F' %}1{% endif %}</td>
                    <td>{% if team_member.user.profile.gender == 'M' %}1{% endif %}</td>
                    <td>{{ team_member.attendance_total }}</td>
                    <td></td>
                    <td>{{ baggage_group.grouper }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          {% endfor %}
        </table>

        <h4>Unassigned Registrations</h4>

        <table class="table table-condensed table-striped">
          <thead>
            <tr class="team-stats-0">
              <th rowspan="2"></th>
              <th>Rating Average</th>
              <th>Rating Total</th>
              <th>Players</th>
              <th>Females</th>
              <th>Males</th>
              <th>Absence Total</th>
              <th>Absence Average</th>
            </tr>
          </thead>
          <tbody id="team_0" class="sortable-table sortable-table-connected">
            {% regroup unassigned_registrations by baggage_id as baggage_list %}

            {% for baggage_group in baggage_list %}
              {% for unassigned_registration in baggage_group.list %}
                <tr class="team-member" data-baggage-id="{{ baggage_group.grouper }}" data-gender="{{ unassigned_registration.user.profile.gender }}" data-rating-total="{{ unassigned_registration.user.rating_total|floatformat:2 }}" data-attendance-total="{{ unassigned_registration.attendance|floatformat:2 }}">
                  <td>
                    <input class="team-member-input" name="team_member_0" value="{{ unassigned_registration.user.id }}" type="hidden" />
                    <label>
                      <input class="team-member-captain-input" name="team_member_captain-0" value="{{ unassigned_registration.user.id }}" type="checkbox" />
                      {{ unassigned_registration.user.get_full_name }}
                    </label>
                  </td>
                  <td></td>
                  <td>{{ unassigned_registration.user.rating_total|floatformat:2 }}</td>
                  <td>1</td>
                  <td>{% if unassigned_registration.user.profile.gender == 'F' %}1{% endif %}</td>
                  <td>{% if unassigned_registration.user.profile.gender == 'M' %}1{% endif %}</td>
                  <td>{{ unassigned_registration.attendance_total }}</td>
                  <td></td>
                  <td>{{ baggage_group.grouper }}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>

        <input value="Save Changes" name="save_teams" class="button button-success" type="submit" />
        <input value="Publish Teams" name="publish_teams" class="button button-success" type="submit" />
        <input value="Hide Teams" name="hide_teams" class="button button-danger" type="submit" />
        <input value="Delete Teams" name="delete_teams" class="button button-danger" type="submit" />
      {% else %}
        <div class="form-field form-field-inline">
          <label class="form-field-label" for="num_teams_input">
            Number of Teams
          </label>

          <div class="form-field-input">
            <input id="num_teams_input" name="num_teams" value="0" type="text">
          </div>
        </div>

        <input value="Generate Teams" name="generate_teams" class="button button-success" type="submit" />
        <a class="button button-link" href="{% url 'teamgeneration'  %}">Cancel</a>
      {% endif %}

      {% if players %}
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              {% if not teams %}
                <th>Team Captain</th>
              {% endif %}
              <th>Name</th>
              <th>Gender</th>
              <th>Rating</th>
              <th>Absences</th>
              <th>Baggage</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            {% for player in players %}
              <tr>
                {% if not teams %}
                  <td>
                    <select name="player_captain_{{ player.user.id }}">
                      {% for i in 17|get_range %}
                        <option value="{{ i }}">{{ i }}</option>
                      {% endfor %}
                    </select>
                  </td>
                {% endif %}
                <td>
                  {{ player.user.get_full_name }}
                </td>
                <td>{{ player.user.profile.gender }}</td>
                <td title="{{ player.rating_totals|pprint }}">{{ player.rating_total|floatformat:2 }}</td>
                <td>{{ player.attendance }}</td>
                <td>{{ player.baggage_id }}</td>
                <td>{{ player.team_id }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </form>
  {% endif %}
{% endblock %}
