{% extends 'layout/layout_home.html' %}

{% block title %}Subscribe &middot; {{ block.super }}{% endblock %}

{% block content %}
  <h1>Subscribe to Our Announcments List</h1>

  <p>
    We will periodically send announcements to this list regarding league
    news, events, and pertinent registration dates. We will never spam and
    try to limit mailings to 1 or 2 per month.
  </p>

  <p>
    Alternatively, you can <a href="https://www.facebook.com/annarborultimate">Like us on Facebook</a> or
    <a href="http://twitter.com/a2ultimate" target="_blank">Follow us on Twitter</a>.
  </p>

  <form class="form" method="post">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
  		{{ hidden }}
  	{% endfor %}

    {% with field=form.email %}
    <div class="form-field form-field-inline{% if field.errors %} form-field-error{% endif %}">
      <label class="form-field-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>

      <div class="form-field-input">
        {{ field }}

        {% if field.errors %}
        <div class="form-field-input-errors">
          <ul class="form-field-input-errors-list">
            {% for error in field.errors %}
              <li>{{ error|escape }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="form-field-help">
        {{ field.help_text }}
      </div>
    </div>
    {% endwith %}

    <div class="form-field form-field-highlighted{% if form.captcha.errors %} form-field-error{% endif %}">
      <label class="form-field-label" for="{{ form.captcha.id_for_label }}">
        {{ form.captcha.label }}
      </label>
      <div class="form-field-input">
        {{ form.captcha }}

        {% if form.captcha.errors %}
        <div class="form-field-input-errors">
          <ul class="form-field-input-errors-list">
            {% for error in form.captcha.errors %}
              <li>{{ error|escape }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>

    <input class="button button-success" type="submit" value="Join List" />
    <a class="button button-link" href="{% url 'home' %}">Cancel</a>
  </form>

{% endblock %}
