{% extends 'layout/layout_home.html' %}

{% block content %}
<div class="page-home">
  <div class="page-home-info">
    <div class="page-home-info-news page-home-info-section">
      <div class="page-home-info-section-header">
        <h1><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Events</h1>
      </div>
      <div class="page-home-info-section-content">
        <ul class="page-home-info-section-content-list">
          {% for announcement in announcements %}
            <li class="page-home-info-section-content-list-element">
              <a class="page-home-info-section-content-list-element-link" href="{{ announcement.get_absolute_url }}">
                <div class="page-home-info-section-content-list-element-link-content">
                  {{ announcement.name }}
                </div>
                <div class="page-home-info-section-content-list-element-link-footer">
                  {{ announcement.created|timesince }} ago
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="page-home-info-events page-home-info-section">
      <div class="page-home-info-section-header">
        <h1><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Events</h1>
      </div>
      <div class="page-home-info-section-content">
        <ul class="page-home-info-section-content-list">
          {% for event in events %}
            <li class="page-home-info-section-content-list-element">
              <a class="page-home-info-section-content-list-element-link" href="{{ event.description }}">
                <div class="page-home-info-section-content-list-element-link-content">
                  {{ event.summary }}
                </div>
                <div class="page-home-info-section-content-list-element-link-footer">
                  {{ event.start|date:'l, F jS' }} at {{ event.start|date:'g:iA'|lower }}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <p>
    <a class="button button-info" href="{% url 'announcements' %}">Join Our Announcements List</a>
  <p>
</div>
{% endblock %}
