{% extends 'layout/layout_home.html' %}

{% load admin_urls %}
{% load markdown_deux_tags %}

{% block title %}{{ content.title }} &middot; {{ block.super }}{% endblock %}
{% block og_title %}{{ content.title }} &middot; {{ block.super }}{% endblock %}

{% block content %}
  {% if content.is_markdown %}
    {{ content.content|markdown }}
  {% elif content.is_html %}
    {{ content.content|safe }}
  {% else %}
    {{ content.content }}
  {% endif %}

  {% if content.updated %}
    <hr>
    <p>
      <small>Last Updated: {{ content.updated|date:'F jS, Y' }}</small>
    </p>
  {% endif %}


  {% if request.user.is_staff %}
    <div class="page-division-teams-notes">
      <h4 class="page-division-teams-notes-title">
        Admin Only
      </h4>

      <div class="page-division-teams-notes-content">
        <a href="{% url 'admin:index_staticcontent_change' content.id %}">Edit Page</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
